[2016-11-08 01:49] rachmadaniHaryono opened #8 "travis-ci, coveralls and readthedocs is not working"

[2016-11-08 14:43] kaklise commented on #8
We are not able to connect to Travis-CI and Coveralls from the USEPA GitHub page.  We are working on a solution.  The code is tested on team member forks, see <https://travis-ci.org/kaklise/WNTR> and <https://coveralls.io/github/kaklise/WNTR>.  A draft version of the documentation will be made available soon.

[2016-11-08 18:23] kaklise commented on #8
Documentation is now available at <http://wntr.readthedocs.io>.  The badges at the top of the README page link to the kaklise/wntr test results on Travis-CI and Coveralls.  The test results links will be updated to use the USEPA site at a later date.

[2016-12-08 15:22] kaklise commented on #8
The badges on USEPA/WNTR now point to sandialabs/WNTR for testing and documentation.

[2017-05-07 01:01] rachmadaniHaryono commented on #8
i think change the link on the badge is good enough to close this issue

[2017-05-07 01:01] #8 closed

[2017-06-01 20:10] zerateltu opened #24 "Is there a way to explicitly assign the pumping energy to a variable?"
Hello,
   Thank you for developing this great tool. I'm wondering if there is a way to extract the pumping energy and assign it to a variable using the tool. I see that the cost of pumping is included in the results generated from "wntr.metrics.cost", however, I'm not able to separate the pumping energy consumption.
    Thanks

[2017-06-01 20:26] michaelbynum commented on #24
I believe the wntr.metrics.cost function provides a cost based on the design of the network (investment cost) rather than the operating cost. It sounds like you want the operating cost. Is that correct? I don't think WNTR supports pump operating costs yet.

[2017-06-01 20:42] zerateltu commented on #24
Hello Michael, thank you for the reply.
I read from the "WNTR Documentation-Release 0.1.2 (DRAFT Documentation)" that "**Network cost is the annual maintenance and operations cost of tanks, pipes, vales, and pumps** based on the equations from the Battle of Water Networks II [SOKZ12]. Default values can be included in the calculation. Network cost can be computed using the cost method."(pp42 of th

[2017-06-01 21:06] michaelbynum commented on #24
Ah, sorry - my mistake - let me clarify. I thought you were looking for the pump cost based on the results of a simulation. The wntr.metrics.cost function does give an estimate of the annual maintenance and operations cost, but it is estimated from the design of the network rather than the results of a simulation. For example, the pumping cost from wntr.metrics.cost provides a cost estimate based

[2017-06-01 21:11] kaklise commented on #24
That is correct.   Cost includes maintenance and operations from a design perspective.  The annual cost is a function of max power.  The user can change these values, but the default is from the BWNII problem description.

From: Michael Bynum [mailto:notifications@github.com]
Sent: Thursday, June 1, 2017 3:06 PM
To: USEPA/WNTR <WNTR@noreply.github.com>
Cc: Klise, Katherine A <kaklise@sandia.gov>;

[2017-06-01 21:50] zerateltu commented on #24
Thank you both for your clarification.
Michael your initial guess is right. I'm trying to extract the pumping energy based on actual demand at each junction (simulation results). I'm working on a project that looks at the impact of rain harvest system on the water distribution system (e.g. change of demand, energy consumption and average water age).

[2017-06-01 21:55] michaelbynum commented on #24
Okay, in that case, WNTR does not currently support what you are looking for. It should not be difficult to add though. I will try to add this functionality early next week.

Nothing computed in wntr.metrics.cost depends on simulation results.

[2017-06-01 22:00] zerateltu commented on #24
Thanks Michael!

[2017-06-05 22:30] michaelbynum commented on #24
zerateltu,
Are you using price patterns? That is going to take me a bit longer to implement. Other than price patterns, I almost have this finished - I just need to add a couple tests.

[2017-06-05 22:32] zerateltu commented on #24
Hello Michael,
   Thank you for the quick update. My primary goal is to be able to extract the pumping energy from the simulation. It will be great if I can also obtain the corresponding maintenance cost and GHG emissions.
   Regards

[2017-06-13 14:33] michaelbynum commented on #24
Pull request #25 should take care of this issue. There is now a pump_energy function in the metrics module to compute pump energy and cost from simulation results. See http://wntr.readthedocs.io/en/latest/apidoc/wntr.metrics.economic.html#wntr.metrics.economic.pump_energy for detailed information.

[2017-06-13 14:33] #24 closed

[2017-09-08 14:33] kaklise opened #28 "Pandas is deprecating Panels"
WNTR uses Pandas Panels to store simulation results.  The development team is looking at alternatives to replicate this functionality.

[2017-09-22 04:36] kevbroch opened #29 "networkx==2.0 throws unhashable type: 'dict'"
venv/local/lib/python3.5/site-packages/networkx/classes/function.py", line 648, in set_node_attributes
    G.nodes[n][name] = values
TypeError: unhashable type: 'dict'

I reverted to 1.11 ( pip install networkx==1.11 )  and problem when away.
Here's link to migration guide: https://networkx.github.io/documentation/stable/release/migration_guide_from_1.x_to_2.0.html

[2017-09-23 23:40] kevbroch opened #30 "Feature request: US customary units support"
Then wouldn't have to do the conversion on wntr.add_* or on the results.
Something like:  wn = wntr.network.WaterNetworkModel(units='USC')
Gets me EPANET inp files defaults.
(If only the US would have switched over with the Brit's these thoughts wouldn't even cross my mind :)  )

[2017-09-25 18:09] kaklise commented on #30
We decided to use SI units throughout WNTR to simplify the code base and avoid confusion about units.  WNTR supports building models from EPANET inp files using all 10 EPANET systems of units (CFS, GPM, ect).  However, if you are building a model from scratch, input values must be in SI units.  This requires that input is converted each time add_* is called.  We suggest using the Sympy package (or

[2017-09-25 18:49] kaklise commented on #29
Thanks for letting us know.  We'll get this fixed soon.

[2017-10-03 15:53] kaklise commented on #29
Pull request #31 should take care of this issue.  Travis CI is still pulls in networkX v1.11, but we tested locally with v2.0.

[2017-12-04 16:25] kaklise commented on #29
Travis CI is passing with networkx 2.0

[2018-01-18 17:58] samhatchett opened #35 "error: name 'plt' is not defined - Matplotlib is a hard dependency?"
When Matplotlib is not installed, this error is generated upon import. According to the [docs](http://wntr.readthedocs.io/en/latest/installation.html#requirements), Matplotlib is an _optional_ dependency. However, I can find no way to use the WNTR package without installing Matplotlib.

I also see this when using the continuumio/anaconda3:5.0.1 docker image, which does have matplotlib pre-installe

[2018-01-18 18:10] kaklise commented on #35
Matplotlib should be a optional dependency and we have that issue fixed on a different branch.  I'll get that update pushed to USEPA/master as soon as possible. Thanks!

[2018-01-19 18:32] samhatchett commented on #35
in addition to it being documented as an optional dependency, I've also found that pyplot doesn't import in the 64-bit Python interpreter. No issues using 32-bit - so that was also a complicating factor in the above. thanks!

[2018-01-19 19:10] kaklise commented on #35
We are using 64-bit Python without issue.  Travis CI also tests against 64-bit Python.  It might be an issue with the matplotlib installation.  Anaconda installers are generally seemless, but sometimes issues crop up.  Travis is currently testing against Matlab 2.1.1, but we have not had issues with older versions of Matplotlib (going back to 1.5.1).

[2018-01-19 19:15] dbhart commented on #35
I'm sure he's using a Windows machine in this case - no one had 32bit Linux boxes or Macs

Sent from VMware Boxer (Android)

On Jan 19, 2018 12:11, Katherine Klise <notifications@github.com> wrote:

We are using 64-bit Python without issue. Travis CI also tests against 64-bit Python. It might be an issue with the matplotlib installation. Anaconda installers are generally seemless, but sometimes is

[2018-01-19 19:21] kaklise commented on #35
That should not be a problem.  I'm working on a windows machine.

[2018-01-19 19:29] dbhart commented on #35
I have tested on 64-bit Python on Mac and we test travis on 64-bit Python on Linux and kaklise uses 64-bit windows Python. That said, it may depend on what version of conda and/or base python mixture you are using. Can you tell us that info?

[2018-01-19 19:38] kaklise commented on #35
PR #36 removes the hard dependency on matplotlib.  We'll still want to figure out the issue above so you can generate graphics.

[2018-01-19 20:23] samhatchett commented on #35
I am on a Mac. sorry for leaving that part out.

[2018-01-19 20:24] samhatchett commented on #35
sorry - I'm on a Mac. matplotlib v2.0.2

[2018-01-19 20:30] dbhart commented on #35
I’m on a mac with Anaconda Python27 and Python36 64-bit / matplotlib 1.5.3, but let me see if I can upgrade my matplotlib and see if it breaks

From: Sam Hatchett <notifications@github.com>
Reply-To: USEPA/WNTR <reply@reply.github.com>
Date: Friday, January 19, 2018 at 1:25 PM
To: USEPA/WNTR <WNTR@noreply.github.com>
Cc: David Hart <dbhart@sandia.gov>, Comment <comment@noreply.github.com>
Subject:

[2018-01-19 20:32] michaelbynum commented on #35
I have had problems installing matplotlib with pip on a Mac. However, it
works fine if I install with Conda.

Michael

On Jan 19, 2018 1:30 PM, "David Hart" <notifications@github.com> wrote:

[2018-01-20 15:05] samhatchett commented on #35
I may have some configuration issues on my machine, but it wouldn't explain the weirdness with the Anaconda3 docker image. In any case, that's not the primary concern of this project.

sorry to stir up trouble here related to other-party packages. the main point of the issue is that matplotlib was a hard dependency for using wntr, which disagreed with the docs.

I was trying to run WNTR in a docke

[2018-01-20 15:13] michaelbynum commented on #35
No apologies necessary. We are happy to (at least try) to help. We appreciate you bringing the matplotlib dependency issue to our attention.

[2018-01-20 21:15] dbhart commented on #35
Definitely no apologies needed, and I may try out the docker image anyway, because I have a different project where they may want docker down the line, and it does have a hard dependency on matplotlib, so it would be good to double check. Thanks!

Sent from VMware Boxer (Android)

[2018-01-21 19:50] N-abdel commented on #30
Hi, I'm having an issue with the units right now too. When I use the PDD, the results make sense (though I'm not sure what units the output is in). When I use the wntr demand driven approach, the node pressures are all negative (for the same exact network) and seem to be in pascals. I don't know how to check what units my results are in (this is the biggest issue). Can anyone help me with this?

I

[2018-01-21 20:09] michaelbynum commented on #30
I believe all pressures in WNTR have units of meters. The online documentation (http://wntr.readthedocs.io/en/latest/units.html) is a good resource for this. @kaklise However, I think this brings up an issue with the documentation on that page. "Water pressure" is correctly labeled as having units of meters. However, we also list "pressure" as having units of Pa. I could be mistaken, but I don't t

[2018-01-21 20:11] N-abdel commented on #30
Thank you so much for the quick response!

[2018-01-21 21:02] michaelbynum commented on #30
No problem. Did I answer your question?

On Jan 21, 2018 1:11 PM, "N-abdel" <notifications@github.com> wrote:

[2018-01-21 22:12] N-abdel commented on #30
Yes, but I do still have to figure out why using wntr simulator is giving my pressures in the negative thousands for an intact network, but if I run the .inp file through epanet, the the pressures are alright.

[2018-01-21 23:06] michaelbynum commented on #30
Can you share your model?

On Jan 21, 2018 3:12 PM, "N-abdel" <notifications@github.com> wrote:

[2018-01-21 23:19] N-abdel commented on #30
Yes, attaching it now
[Tampa inp copy.txt](https://github.com/USEPA/WNTR/files/1650338/Tampa.inp.copy.txt)

[2018-01-21 23:21] N-abdel commented on #30
The units are set to  Ft, GPM and CFS, but when I save as .txt to upload to GitHub that section is cut off; just wanted to let you know. Also, the headless formula is set to Hazen Williams.

[2018-01-22 22:23] kaklise commented on #30
I ran the model with the EpanetSimulator and the WNTRSimulator (demand driven).  The results are very similar and pressures are not negative.  Are you using the latest version of WNTR (0.1.4)?

I'll update the documentation to remove Pa.  All pressure data is in meter (water pressure).

[2018-01-22 22:43] N-abdel commented on #30
I am using v. 1.3. Do you think that may be the issue? I will download 1.4
and run on that version, hopefully it will run alright since you were able
to run it. Thank you, this is a great tool!

On Mon, Jan 22, 2018 at 5:23 PM, Katherine Klise <notifications@github.com>
wrote:

--
-Noha

[2018-01-22 22:55] kaklise commented on #35
closed by PR #36.

[2018-01-22 22:55] #35 closed

[2018-01-23 16:50] michaelbynum commented on #30
PR #37 has updated documentation on units which should clear up the question about units of pressure. @N-abdel If you would like to continue the discussion of negative pressures with the WNTRSimulator, let's do so offline. We are getting off topic for this issue. You can email Kate at kaklise@sandia.gov.

[2018-02-15 15:52] N-abdel commented on #30
Hi, I just wanted to update you that when I switched to v. 1.4, I get
meters of head that do make sense, thank you!  The simulations work fine
for the demand driven wntr simulator, but for pressure driven demand, for
the same network, I get the following error:

"RuntimeWarning: divide by zero encountered in power
  last_segment = (-0.5)*j_d/(nomP-minP)*((P-minP)/(nomP-minP))**(-0.5)
/Users/noha/D

[2018-02-15 15:59] michaelbynum commented on #30
I'm glad to hear the demand driven simulation is working well. Can we continue the conversation about the pressure driven simulation via email? I think it will be easier that way, and I'm not sure this issue is the correct place for that conversation. You can reach @kaklise at kaklise@sandia.gov. She will then add me into the conversation.

[2018-02-15 16:26] michaelbynum opened #38 "Error messages need improved when a simulation does not converge."

[2018-03-07 04:46] bakerwho commented on #29
I get this bug again in 2.1. Exactly as described by OP.

[2018-03-08 10:34] mkoponen commented on #29
Can confirm. Reverted to 1.11 .

[2018-03-08 17:52] kaklise commented on #29
The current version of WTNR is tested with networkx version 2.1.  The current test creates a networkx graph from a WNTR WaterNetworkModel using wn.get_graph(), this method calls set_node_attributes in networkx.  What version of WNTR are you using?  And when do you get the error?

[2018-03-09 00:42] mkoponen commented on #29
I didn't notice that this isn't the group for networkx, but a software that uses it. I should file this report at networkx instead. The following code demonstrates the bug in networkx 2.1 (throws exception) and works correctly in 1.11

import networkx as nx
G = nx.Graph()
pos = {0:(1.0,2.0), 1:(1.5,2.5)}
G.add_node(0)
G.add_node(1)
nx.set_node_attributes(G, 'coord', pos)

[2018-03-09 00:50] mkoponen commented on #29
I see bakerwho already did so. Networkx's official answer is that the syntax of the function was changed to following:

nx.set_node_attributes(G, values=values, name=name)

If bakerwho indeed got this error from WNTR, then it should be a simple matter of finding all calls to set_node_attributes and changing them to the new syntax. On the other hand, perhaps he made the same mistake as I, and found

[2018-03-09 14:37] kaklise commented on #29
No problem.  WNTR has been updated to use the new syntax.

[2018-03-09 14:37] #29 closed

[2018-04-06 20:36] kaklise commented on #28
We are replacing Panels with a dictionary of DataFrames.  This will result in a minor change to the way users access simulation results.  Metrics (which use simulation results) will also be updated as part of this work.

[2018-05-04 16:10] #38 closed

[2018-05-24 13:42] #28 closed

[2018-06-05 10:12] Skulldron opened #44 "Cannot import the shortest_path"
Hello.
While freezing code with cx_Freeze I encountered problem with WNTR and SciPy . While trying to launch windows returns traceback:

(Converted this traceback from image with ocr so it can contain some typos. Anyone encountered this problem and knows how to solve it? I would be really thankfull.

![traceback](https://user-images.githubusercontent.com/33962400/40969991-966c27ce-68b9-11e8-85f5-2

[2018-06-05 15:08] michaelbynum commented on #44
I am not familiar with cx_Freeze, but the error appears to come from scipy. Can you try:

from spicy.optimize import fsolve

Without importing wntr?

Michael

On Jun 5, 2018, at 6:12 AM, Skulldron <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello.
While freezing code with cx_Freeze I encountered problem with WNTR and SciPy . While trying to launch windows returns traceback:

[2018-06-05 19:11] Skulldron commented on #44
Hello Michael. Thank you for your time.
I checked and tried to add **from scipy.optimize import fsolve** withou importing wntr in APP.py and build.py and cx_Freeze seems to have no problem with that - freezing the file properly.
Meanwhile I was just trying to make this work even the dirty way, so I decided to add following lines to app.py and build.py file:

[code]
And it worked, but cx_Freeze fou

[2018-06-07 04:45] samhatchett opened #45 "some settable Pipe properties not documented"
https://wntr.readthedocs.io/en/latest/apidoc/wntr.network.elements.html#wntr.network.elements.Pipe

not documented are most useful properties: length, diameter, roughness, minor_loss, and others

[2018-06-07 13:17] michaelbynum commented on #45
Good point. Thanks for bringing this to our attention. I'll fix this shortly.

[2018-06-19 17:36] michaelbynum opened #46 "Check Epanet report file for warnings and errors"

[2018-06-19 17:59] michaelbynum opened #47 "Detect empty pipes"
We should try to detect empty pipes and issue a warning. These can cause incorrect negative pressures due to differences in elevation.

[2018-06-22 21:08] michaelbynum opened #48 "Changing a pump setting should turn the pump on or off depending on the setting"
changing the speed to a non-zero value should open the pump

[2018-07-12 20:51] michaelbynum opened #50 "Zero flow in constant power pump causes singular jacobian"
This is particularly an issue when turning a constant power pump off and then back on. The flow in a constant power pump should never be 0.

[2018-07-19 14:40] #48 closed

[2018-08-09 18:23] Tabznator opened #53 "Cant use the EpanetSimulator after error: 302 occurs"
Hello,

I am trying to run multiple simulations using the EpanetSimulator but some of the networks I am working on  produce the following error: ERROR:wntr.epanet.toolkit: EPANET error: 302.

The problem is that once this error occurs I am unable to continue using the EpanetSimulator unless I reset the whole script. I was wondering if there is a work around this.

[2018-08-09 19:40] michaelbynum commented on #53
Can you share a simple script that recreates the error? What operating system are you using?

Michael

On Aug 9, 2018, at 12:23 PM, Tabznator <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello,

I am trying to run multiple simulations using the EpanetSimulator but some of the networks I am working on produce the following error: ERROR:wntr.epanet.toolkit: EPANET error: 302.

[2018-08-09 20:37] Tabznator commented on #53
Here is a sample code and i am using windows 7. The code runs perfectly for about half of the pipes so am not sure about what triggers the error.
def get_error_list():
    wnt = wntr.network.WaterNetworkModel(inp_file)
    error_box,source_pipes = [],[]
    pipes = wnt.link_name_list
    sources = wnt.tank_name_list
    sources.extend(wnt.reservoir_name_list)

    if sources == []:
        raise n

[2018-08-13 17:07] michaelbynum commented on #53
@dbhart Any thoughts? This seems odd to me.

[2018-08-14 15:08] michaelbynum commented on #53
@Tabznator We are having difficult reproducing the error. Do you have the same problem with any of the example networks distributed with WNTR?

[2018-08-16 21:36] joskaaaa commented on #44
@Skulldron Not sure if you had resolved your issue, but (irrelevant as it may be to WNTR):

When cx_Freeze copies the 'ckdtree.cp36-win_amd64.pyd' file from the lib into your new build folder (\build\exe.win-amd64-3.6\lib\scipy\spatial), it copies it as 'cKDTree.cp36-win_amd64.pyd'.

Simply changing the capitalization on the file should solve your import problem.

[2018-08-17 05:43] Skulldron commented on #44
Thank you, @joskaaaa  I solved it but forgot to share it with others. As you said I just changed the filename and it worked like a charm.

[2018-08-17 14:09] #44 closed

[2018-08-20 01:14] tortelee opened #54 "can not open an INP file"
I use  'wntr.network.WaterNetworkModel' to load an inf file,but occured the error:

  File "D:\anaconda\lib\site-packages\wntr\epanet\io.py", line 615, in _read_pipes
    if current[7].upper() == 'CV':

IndexError: list index out of range
why？

[2018-08-20 02:13] tortelee commented on #54
I have found the reason. The file loses a key word

[2018-08-20 20:01] #54 closed

[2018-10-03 14:34] zizzipupp opened #56 "RuntimeError: networks/Net3.inp:9: Non-comment outside of valid section!"
I installed WNTR 0.1.5 and I am using the following version of Python in Spyder 3:
`3.6.3 |Anaconda custom (64-bit)| (default, Oct 15 2017, 03:27:45) [MSC v.1900 64 bit (AMD64)]`

I re-created, without mistakes, the two scripts performing hydraulic simulations and the interaction with networkx, and have saved them in a folder. In the same folder, I created a sub-folder called "networks", where I s

[2018-10-04 16:47] kaklise commented on #56
The number does indicate a line number, but I'm unable to replicate the error.  I'll continue looking into it.

[2018-10-04 17:53] michaelbynum commented on #56
@zizzipupp Just to be clear, you got the error without modifying the inp file at all?

[2018-10-04 17:54] zizzipupp commented on #56
Exactly. From Chrome, I saved the inp files by right-clicking on the file
names and making sure that they were saved with the correct extension and
in the correct sub-folder.

On Thu, Oct 4, 2018, 6:53 PM Michael Bynum, <notifications@github.com>
wrote:

[2018-10-05 17:57] dbhart commented on #56
Is it possible that your browser is saving it in non-ASCII format? Latin-1 and UTF-8 should also be handled, but if there is something else, it’s possible that there is a character (even a blank) that is getting dropped into the INP file that isn’t right. We haven’t been able to reproduce, so it is difficult to think of any other possibilities.

[2018-10-16 19:07] Pepukai opened #57 "iCode"
I am new in programming. trying to use wntr for my research. running
Python 3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)] on win32 .
and using Spyder to code.
I am trying to use the epanet.toolkit to get values from an inp file however the command requires enter an iCode for the components. How do I get this input.

[code]

[2018-10-17 14:40] kaklise commented on #57
Thanks for the comment.  WNTR allows you to access the network using the WaterNetworkModel object, but you can use the EPANET toolkit from within WNTR if you'd like.  For example, you can print the number of links and run an EPANET simulation using the WaterNetworkModel:
[code]
Or you can use the EPANET toolkit and then read simulation results from the EPANET bin file using the wntr.epanet.io.BinF

[2018-10-17 21:35] Pepukai commented on #57
Thank you for the response it has worked. maybe a follow up questions. How do I set an attribute value in an already existing inp file. For example I am trying to change the diameter of links/pipes.
I am able to do it with epanettools module however I would like to use wntr for this action.

[code]

[2018-10-17 21:42] michaelbynum commented on #57
@Pepukai I think the following will do what you need.
[code]

[2018-10-18 06:30] Pepukai commented on #57
thank you @michaelbynum

I ran the code and want to save the file it gives a distorted inpfile
[hanoi1.inp.txt](https://github.com/USEPA/WNTR/files/2490505/hanoi1.inp.txt)

[code]

[2018-10-18 13:43] michaelbynum commented on #57
@Pepukai Can you share the original inp file (offline - mlbynum@sandia.gov) so that I can compare the two?

[2018-10-18 20:20] michaelbynum commented on #57
It seems we are not writing the BACKDROP section of inp files correctly. This should be an easy fix. I can take care of it in the morning.

[2018-10-23 11:54] dionikolop opened #59 "Step-wise WNTR simulation problem"
Hello,
I am experiencing a strange issue when performing a step-wise simulation. The set-up: a) I import a .inp file like example Net1 b) I set the time options to time.duration = 1 hour and same for hydraulic timestep c) I use WNTRSimulator d) I loop for 24 hours running the sim again for the same water network, but advancing the time.start_clocktime by one hour.
The problem: At certain steps, th

[2018-10-23 14:59] michaelbynum commented on #59
All you need to do is replace
[code]
with
[code]

The ```start_clocktime``` should never change during a simulation. As the simulation progresses in time, the simulator will advance ```wn.sim_time``` as needed. The ```clocktime``` is simply ```wn.sim_time + wn.options.time.start_clocktime```.

However, the simulator should never simulate past ```wn.options.time.duration```. This is a bug, and I wi

[2018-10-23 15:00] michaelbynum opened #60 "WNTRSimulator simulates a single timestep every time run_sim is called even if the sim_time is past the duration"
WNTRSimulator simulates a single timestep every time run_sim is called even if the sim_time is past the duration

[2018-10-23 15:01] michaelbynum commented on #57
@Pepukai We have corrected the BACKDROP section of the inp file writer on master.

[2018-10-23 17:15] Pepukai commented on #57
@michaelbynum Thank you.
How do I add the file to the module

[2018-10-24 13:54] michaelbynum commented on #57
@Pepukai All you need to do is update to master. First uninstall the version of wntr you have. You can either clone the repository or download a zip file of the repo. Then just run "python setup.py install" from within the main wntr directory. If you have any trouble, let me know.

[2018-10-25 14:29] dionikolop commented on #59
Thanks for your prompt reply! It works as it should now. By the way, the WNTRSimulator is a very good tool, do you plan to also add quality simulation?

[2018-10-25 14:33] michaelbynum commented on #59
Thank you! We really appreciate that. You can run water quality simulations with the EpanetSimulator within WNTR. Given how well established, dependable, and efficient EPANET is, I think it is unlikely that we will implement our own water quality simulator. @kaklise Do you have anything to add?

[2018-10-25 14:38] dionikolop commented on #59
I am asking because the WNTRSimulator also runs in  pressure dependent demand mode and I would like to experiment with a combination of quality and pressure dependent simulation.

[2018-10-25 14:43] michaelbynum commented on #59
I think that is currently possible. I think you can use the EpanetSimulator with the hydraulics results from the WNTRSimulator. All we do is write an inp file with the demands modified to match the results of the pressure driven simulation from the WNTRSimulator. @dbhart Can you confirm that this has been implemented? Or did we just talk about it?

[2018-10-25 15:05] kaklise commented on #59
The docs include an example at the top of https://wntr.readthedocs.io/en/latest/waterquality.html.

[2018-10-29 18:05] TimMontgomery opened #62 "Pump Attribute Calling"
Hello, I am new to coding and am trying to utilize WNTR for a project. I am having issues calling into the pumps to pull the "power" attribute and have it match the model. Both units are in HP. It is either prints out "1" or "None."

`wntr.network.model.Pump('~@Pump-1','I-Pump-1','O-Pump-1', wn)._base_power`

`print(wntr.network.elements.Pump('~@Pump-1','I-Pump-1','O-Pump-1', wn)._base_power)`

I

[2018-10-29 18:36] michaelbynum commented on #62
WNTR is designed for network elements to be added/created through methods on the WaterNetworkModel object. For example:

[code]

[2018-11-25 22:10] Mattii1994 opened #64 "WNTR not plotting the network graph"
Hello. I start work with WNTR. It will help me in my master thesis. I have a problem with plotting in Pycharm IDE. When I used a getting_started script in Pycharm I don't got any graph. I have every required python package. However When I used Spyder in terminal i got a small picture of graph.

What's the problem. Pycharm doesn't support WNTR or I have problem with python package?
(I use Python 3.

[2018-11-26 15:09] kaklise commented on #64
The graphics did not show up because we did not include “plt.show()” at the end of the script.  This statement is automatically included in Spyder but not in PyCharm.  I believe we omitted this line of code so that the examples also run from the command line.  When using PyCharm, you can add "plt.show()" at the end of your script. We'll look into options that make this work for IDE and command lin

[2018-11-28 18:07] Mattii1994 commented on #64
Thx for a help :)

[2018-11-28 18:07] #64 closed

[2018-12-18 12:44] balks opened #65 "Initial Quality not being read"
When reading an INP file, the initial quality is not read. Probably because the function _read_quality() in io.py is never called.
I simply added a line 'self._read_quality()' below 'self._read_demands()' in io.py and this seems to solve the issue. Is this correct or do I miss something?

[2018-12-19 15:03] #65 closed

[2019-01-10 11:45] dionikolop commented on #60
Hi,
I find this behavior actually useful - you can set a duration equal to the hydraulic timestep, and then simulate an arbitrary number of steps (e.g. until a condition in your script is met). What bothers me is that sometimes when you call

 `sim = wntr.sim.EpanetSimulator(wn)`
`results= sim.run_sim()`
  results can be an empty dataframe. A workaround is adding something like:
`while results.nod

[2019-01-15 13:46] balks opened #68 "[DEMANDS] section does not replace demands in [JUNCTIONS]"
According to EPAnet INP-file specifications, the demands in section [DEMANDS] should replace the demands as specified in [JUNCTIONS]. In io.py there is a line (1347) that makes sure that this happens based on category 'EN2 base', but it is commented out. Hence any demands in the [DEMANDS] sections is added to the node. Can this line be activated again safely or does this affect anything else?

[2019-01-15 16:45] dbhart commented on #68
It *should* be okay to remove. I have not tested it yet with the reactivation of that line to make sure it would behave correctly, but the only issue would be if you are trying to remove patterns – I haven’t checked to make sure that it would track properly that the pattern is/isn’t still being used.

From: balks <notifications@github.com>
Reply-To: USEPA/WNTR <reply@reply.github.com>
Date: Tuesda

[2019-02-25 14:44] #68 closed

[2019-03-01 23:49] tyjchen opened #71 "EPANET i/o error when running EpanetSimulator in Parallel"
i'm trying to run simulations using the wntr.EpanetSimulator() function in parallel and i keep getting back epanet errors "EPANET Error 200" or "EPANET Error 224". the error implies i do not have a supply nodes but I explicitly call wntr.add_reservoir()/wntr.add_tank() beforehand, it's unclear to me why this is happening.
i also assert that the network is completely connected (using the wntr.to_un

[2019-03-04 17:12] kaklise commented on #71
It's possible that each process is pointing to the same INP file.  The EpanetSimulator writes an INP file called 'temp.inp' by default.   You can set a unique name for that file using `file_prefix` when you call `run_sim`.

[2019-03-05 15:14] tyjchen commented on #71
that seems to have solved the problem, thank you!

[2019-03-05 21:14] emmaliulu opened #72 "WNTRSimulator not working for network with PSV valve"
Here's my script

inp_file = 'AvgDay_460MGD_March2018.inp'
wn_0 = wntr.network.WaterNetworkModel(inp_file)

sim_0 = wntr.sim.WNTRSimulator(wn_0)
results_0 = sim_0.run_sim()

I got the following error message

"Traceback (most recent call last):

  File "<ipython-input-15-706536a93aeb>", line 13, in <module>
    results_0 = sim_0.run_sim()

  File "C:\Users\ll69\AppData\Local\Continuum\anaconda2\li

[2019-03-06 01:18] tyjchen commented on #72
you could try to replace PSV's with PRV's and rerun the simulation, ensuring all the same rules are carried over

[2019-03-06 15:54] emmaliulu commented on #72
I replaced all PSV with PRV and rerun the simulation. I got this error message.

"RuntimeError: Simulation did not converge. Jacobian is singular at iteration 0"

[2019-03-06 17:20] tyjchen commented on #72
hmm, it's implying that the initial hydraulics setting does not converge, you could try let the optimization just give you non-converged solutions and see how that looks like. rum.sim(convergence_error=False). or let it use a different solution method: rum.sim(solver_options={'BACKTRACKING' = False}) and see what happens. hope it helps-

[2019-03-06 17:49] emmaliulu commented on #72
When I tried with "results_0 = sim_0.run_sim(solver_options={'BACKTRACKING'== False})", it gave me this error message "RuntimeError: Simulation did not converge. Jacobian is singular at iteration 0".

When I tried with "results_0 = sim_0.run_sim(convergence_error=False)", it didn't show any errors, but the result data frame is empty.

I wonder if there is a way to solve the initial problem of "Val

[2019-03-07 14:36] kaklise commented on #72
You can find a list of network options that are not currently supported by the WNTRSimulator at https://wntr.readthedocs.io/en/latest/framework.html#limitations.  We are working on software updates that will address these limitations and PSV is high on our list of priorities.  If you don't expect the system to be pressure deficient, you could use the EpanetSimulator, at least as a starting point.

[2019-03-07 20:23] #71 closed

[2019-03-07 20:40] emmaliulu commented on #72
That's good to know. I wanted to use WNTRSimulator because I would like to use the Leak Model. If PSV is not yet simulated in WNTR, I suppose there are alternative ways to simulate leakage with EpanetSimulator?

[2019-03-07 21:59] tyjchen opened #73 "what units are flows reported in?"
the reference provides 5 different units of flow, how can we know which one is reported when we run the EPANET simulator?
https://wntr.readthedocs.io/en/latest/units.html

code:
epanet_sim = wntr.sim.EpanetSimulator(wntr_object)
results = epanet_sim.run_sim()
flows = results.link['flowrate']

[2019-03-07 22:43] kaklise commented on #73
The table references unit conversions for EPANET INP files.  Data that is stored in a WNTR water network model and the results from a simulation (EpanetSimulator or WNTRSimulator) are all in SI units.  Flowrate is in m^3/s.  I see that flowrate is not listed at the top of that page, we'll fix that.

[2019-03-08 15:50] kaklise commented on #72
To model a leak using the EpanetSimulator, you could adjust demands or use emitters.

[2019-03-11 20:08] emmaliulu commented on #72
Thank you. I will test it out.

[2019-03-13 18:47] tyjchen opened #74 "value error when reading existing .inp file"
i try to run the following code
input = wntr.network.WaterNetworkModel("model.inp")
and get the resulting error
-packages/wntr/epanet/io.py", line 1680, in _read_options
    setattr(opts, words[0].lower(), float(words[1]))
ValueError: could not convert string to float: 'psi'

any suggestions on how to resolve the error? should i be making changes to the .inp file?

[2019-03-13 19:05] dbhart commented on #74
EPANET 2 does not allow the “psi” unit designation anywhere in the input file, according to the specifications in the user manual. However, some older inp-files still have this element in there. If you search for “psi” in your input file you can probably remove the word, or if you can reply with the inp-file line in question I may be able to suggest if the line is even necessary in EPANET 2.

The

[2019-03-13 19:17] tyjchen commented on #74
the export and re-read solution worked, thank you!

[2019-03-13 19:18] #74 closed

[2019-03-15 09:51] Skulldron opened #75 "GPV Setting"
Hello,
I have problem with Epanet Simulation of network, which contains a GPV.
In this network GPV has a string setting, which is a reference to defined headloss curve.
I get EPANET Error 200 as I guess only float value is accepted.
Any ideas of how to make it work? I would appreciate all suggestions ;)

Heres the exact error code:

[code]
And here's the inp section with GPV

[code]

[2019-03-15 12:56] pshassett commented on #75
Hi @Skulldron.
Assuming your head loss curve "head_curve" is defined according to the EPANET manual guidelines, there shouldn't be an issue there.  Be sure to read the manual and check appendix C2 that covers input file format.

According to your valve's definition,  your GPV is a link connecting nodes "16_71" and "valve" with a diameter of 55.4.  Make sure that these are valid nodes and the inten

[2019-03-15 15:42] #59 closed

[2019-03-16 12:02] Mattii1994 opened #76 "Calling Reservoir Attributes"
Helo,
is possible to get atribute of reservoir e.g. elevation from imported WDS model? I can't use `query_node_attribute` because reservoir isn't a node in WNTR. Is any method to get this attribute?

[2019-03-17 14:14] Mattii1994 commented on #76
Ok, i find solution

`wn.query_node_attribute('elevation', node_type=wntr.network.model.Reservoir)`

[2019-03-17 14:14] #76 closed

[2019-03-19 10:43] dionikolop opened #77 "Remove a pattern"
Hello,
I am not sure how to remove a pattern from a wntr.network.model.WaterNetworkModel object. I get the error:
('cannot remove %s %s, still used by %s', 'PatternRegistry', 'PDD10', {('10', 'Junction'), }).
However, I cannot find a way to delete patterns from PatternRegistry.
Thanks in advance!
Dionysis

[2019-03-19 15:03] kaklise commented on #76
Reservoirs are not assigned an elevation, but if you added an attribute called elevation to a reservoir, then you should be able to call `wn.query_node_attribute('elevation')`.  This will return the elevation of all Nodes (Junctions, Tanks, and Reservoirs).  Your solution will also work, to return elevations of just Reservoirs.

[2019-03-19 15:43] kaklise commented on #77
You can't remove a Pattern that is being used by a Junction.  If you want to remove the Pattern, you need to remove it from all associated Junctions first.  Alternatively, you can modify the Pattern or create a new Pattern and assign it to the Junction.

[2019-03-19 16:06] dionikolop commented on #77
Is it possible to loop through all junctions and remove a pattern? I cant find in the references something like a "remove_pattern" method. As for the alternatives, when I assign a new Pattern, the simulation ignores the previous? Say for example in a prolonged simulation I dynamically add "pattern1",  then "fire_pattern",  then "pattern_2".

[2019-03-19 16:53] dbhart commented on #77
It seems that an easy method for doing this is needed. In the meantime, here is how to do it manually (using Net3.inp as an example, removing pattern ‘2’)

Traceback (most recent call last):

  File "<stdin>", line 1, in <module>

  File "/Users/xxxxx/WNTR-master/wntr/network/model.py", line 647, in remove_pattern

    self._pattern_reg.__delitem__(name)

  File "/Users/xxxxx/WNTR-master/wntr/netw

[2019-03-25 18:36] tyjchen opened #78 ".bin file not writing when running epanet simulation"
i notice that a .bin file is not writing to file when i call the following command on my wntr object "wn". the ".inp" and ".rpt" files are writing just fine.
simulation = wntr.sim.EpanetSimulator(wn)
results = simulation.run_sim()
as a result i keep getting an error back "enData.ENopen(inpfile, rptfile, outfile)...wntr.epanet.toolkit.EpanetException: EPANET Error 200".
any pointers as to why the .

[2019-03-25 18:42] dbhart commented on #78
The default file prefix is “temp”, which could be a problem for you for some reason. Try adding an argument to the run_sim using a different name to see if you can see any differences between the original temp.* and the new files:

e.g.:  results = simulation.run_sim(file_prefix="test2")

You can also use the “save_hyd” and “hydfile” options to see if it is solving through the hydraulics and crash

[2019-03-25 18:48] tyjchen commented on #78
i tried specifying a new file prefix and it didn't help, i even specified that the hydraulic models be saved

simulation.run_sim(file_prefix = "temp_", save_hyd = True, use_hyd = True)

is this implying that theres something inherently wrong with the model? causing the hydraulic solver to crash?

[2019-03-25 18:52] dbhart commented on #78
This would seem (along with error code 200) that there is something wrong with the input file somewhere. We have frequently used the EPANET GUI to open and debug models where there is an input file error; occasionally, just opening it in EPANET GUI, then saving it again as a .inp file will fix the problem (this is the EPANET equivalent of turning it off and back on again).

-dbh

From: tyjchen <no

[2019-03-26 01:32] tyjchen commented on #78
seems like it was an error with the network design, the problem went away after i tweaked the design a bit. thank you for your helpful pointers!

[2019-03-26 01:32] #78 closed

[2019-03-26 18:53] tyjchen opened #79 "cannot remove any link"
i'm trying to remove a pipe from my epanet model using the following code
wntr.remove_link('pipeA')
however i get the error code back 'NoneType' object has no attribute 'update'

i tried to loop through every single pipe in my system and each trial gives me the same error back. i even tried re-exporting the .inp file multiples times on epanet. any pointers as to why?
the network im using is in the

[2019-03-26 21:12] michaelbynum commented on #79
Can you provide the full stack trace?

Michael

On Mar 26, 2019, at 12:53 PM, tyjchen <notifications@github.com<mailto:notifications@github.com>> wrote:

i'm trying to remove a pipe from my epanet model using the following code
wntr.remove_link('pipeA')
however i get the error code back 'NoneType' object has no attribute 'update'

i tried to loop through every single pipe in my system and each tri

[2019-03-26 22:03] tyjchen commented on #79
heres the trace below, i find that i can remove pipes only after all controls have been removed, which is confusing to me because the controls are only being used in the pumps and tanks

wntr.remove_link('SC0')
Traceback (most recent call last):
  File "<console>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/wntr/network/model.py", line

[2019-03-27 14:24] tyjchen commented on #73
sorry i just had a follow up question, you mention all data is in SI units. so should I be writing my pipe diameters in M? and not mm as shown in the conversion table?

https://wntr.readthedocs.io/en/latest/units.html

[2019-03-27 14:25] michaelbynum commented on #73
@tyjchen Good catch. There is a typo in that table. Diameter should be in meters. We will get that fixed.

[2019-03-27 14:29] michaelbynum commented on #73
@tyjchen Please disregard my last comment. I spoke too quickly. There is not a typo. The table you are referencing specifies units for Epanet inp files. Pipe diameters should indeed be specified in mm. However, once the model is loaded into a WaterNetworkModel object, pipe diameters are all in meters as specified here https://wntr.readthedocs.io/en/latest/units.html#units. Does that make sense?

[2019-03-27 14:38] tyjchen commented on #73
@michaelbynum thanks for the response, i'm still a little unsure of what the "right" units are. just to make sure: when an existing .inp file is read the diameters are converted automatically from from inches to meters. if i want to add say a new pipe of 10 inches to the model (using wntr.add_pipe()), i should also use meters?
or should i convert the diameters in the existing model from M to mm?

[2019-03-27 14:45] michaelbynum commented on #73
When using ```wn.add_pipe()```, diameter should be specified in meters. At the very top of the previously mentioned webpage (https://wntr.readthedocs.io/en/latest/units.html#units), there is a bulleted list of units. These are the units used in WNTR. Anytime you interact with WNTR python objects, you should use these units. Table 4 on the same page is only for inp files.

[2019-03-27 14:48] tyjchen commented on #73
@michaelbynum thank you!

[2019-03-27 14:48] #73 closed

[2019-03-28 14:28] tyjchen opened #80 "is there a way to efficiently extract base demand from junction?"
the question is pretty self explanatory, i tried digging around the junction object directories and couldn't find anything. any tips would be appreciated!

[2019-03-28 15:32] kaklise commented on #80
Since junctions can have multiple demands, we don't have a simple 'base_demand' attribute on junctions.  You can use `wntr.metrics.expected_demand(wn)` to compute demands.  This function does not require a hydraulic simulation, it loops through the multiple demands on each junction and computes the total demand at each time step using the base value, pattern, and demand multiplier.

[2019-03-28 17:21] tyjchen commented on #80
thank you!

[2019-03-28 17:21] #80 closed

[2019-03-29 14:48] #77 closed

[2019-03-29 15:10] dionikolop opened #81 "Zero Demand causes Jacobian to be singular"
Hello,
I came across a "Simulation did not converge. Jacobian is singular at iteration 0". I added a node with zero demand, and this occurs only in PDD mode and WNTR simulator. Changing the node's demand to something small e.g. 0.001 m3/s or 0.1 m3/s does not solve the problem. However, when I use the WNTR simulator or Epanet Simulator in Demand-driven mode no error occurs. Any known remedies to t

[2019-04-01 19:14] pshassett opened #82 "Skeletonized demands are not written to inp files"
After running `wn_skel wntr.morph.skeletonize(wn)`, the new demands are not written to the .inp file using `wn_skel.write_inpfile` or the `wntr.epanet.io.InpFIle.write` class method.  See attached script.
[net3skel.py.txt](https://github.com/USEPA/WNTR/files/3030966/net3skel.py.txt)
[Net3.inp.txt](https://github.com/USEPA/WNTR/files/3030968/Net3.inp.txt)

[2019-04-01 19:42] kaklise commented on #82
I think we need to change the demand category name when merging demands.  I'll look into it and see if that solves the issue.

[2019-04-01 20:21] kaklise commented on #81
Nominal pressure should be greater than minimum pressure.  When I changed nominal pressure to 1 and minimal pressure to 0, the PDD simulation runs.

[2019-04-02 16:02] pshassett commented on #82
Issue resolved by PR #83

[2019-04-02 20:49] emmaliulu commented on #72
Hi again. I tried EpanetSimulator with emitter to simulate leakage and it worked well. I wonder if there is any way to capture demand deficit without WNTR pressure driven simulation. Or is there a way to represent pressure driven with EpanetSimulator?

[2019-04-03 16:35] michaelbynum commented on #72
We will have support for PSV's in about a week if that helps.

[2019-04-04 07:19] dionikolop commented on #81
I can't believe I overlooked it. Thanks.

[2019-04-04 07:19] #81 closed

[2019-04-04 14:35] emmaliulu commented on #72
That's great to know! Thank you.

[2019-04-10 19:57] pshassett commented on #82
Setting reallocated demands category to `None` ensures that base demand for reallocated nodes is moved to [DEMANDS] section of the inp but the base demand for `neigh_junc` or `closest_junc` must also be assigned a category other than 'EN2-base' in order to move the base demand to the [DEMANDS] section of the inp file. Maybe instead of a `None` category these reallocated/moved demands can have a ca

[2019-04-10 19:58] pshassett commented on #82
[bwsntest.zip](https://github.com/USEPA/WNTR/files/3065604/bwsntest.zip)

[2019-04-11 13:49] pshassett commented on #68
#70 does fix the issue of [DEMANDS] specifications not overwriting demands specified in the [JUNCTIONS} section, but `node.demand_timeseries_list.remove_category('EN2 base')`  results in the demand information that was stored in the [JUNCTIONS] section to be lost.

If a user wanted to import an INP file, make some modifications to the network in WNTR, and then write/save the new network as a new I

[2019-04-11 14:52] pshassett opened #86 "Demand information in [JUNCTIONS] is lost"
As discussed in #68, the demands defined in the [JUNCTIONS] section should be overwritten with demands defined in the [DEMANDS] section for a given node. #70 implements this but as a result deletes the node's demand information in the [JUNCTIONS] section.

[2019-04-11 15:53] pshassett commented on #82
[BWSN1_skel.zip](https://github.com/USEPA/WNTR/files/3069519/BWSN1_skel.zip)
Sorry, uploaded the wrong script.

[2019-04-11 15:55] dbhart opened #87 "Update docs to indicate where pull requests should go for testing purposes"
Because of issues with using travis with the USEPA user, we need to indicate that pull requests should go to sandialabs/WNTR instead so that the changes are tested. But issues should still go on this repo?

[2019-04-11 21:02] emmaliulu commented on #72
Hi, I'd like to follow up on the support for PSV. Has the new version of WNTR with PSV capability ready for use?

[2019-04-15 16:25] pshassett commented on #79
Can you upload your .inp file?

[2019-04-16 17:00] #87 closed

[2019-04-17 17:57] michaelbynum commented on #72
@emmaliulu Sorry for the delay. Support for PSVs have now been added in a branch called "psv_support" on my fork. Unfortunately, we will not be able to merge this branch into the main repository for a while.

[2019-04-18 14:02] #82 closed

[2019-04-18 14:18] #86 closed

[2019-04-22 19:23] michaelbynum commented on #79
@tyjchen Sorry I am just now getting around to fixing this. I have identified the problem. I should have a fix shortly (hopefully tomorrow).

[2019-04-22 19:23] tyjchen commented on #79
thank you! @michaelbynum

[2019-04-22 19:23] #79 closed

[2019-04-23 14:44] michaelbynum commented on #79
@tyjchen The error arises when attempting to remove any of pumps HSP_1, HSP_2, or HSP_3. There are rules that affect these pumps, so the rules must be removed before removing the pumps. I submitted a PR (which should be merged shortly) which fixes the error message you get to be more helpful.

[2019-04-24 18:26] tyjchen commented on #79
thank you @michaelbynum, should i just update my wntr package to see these changes?

[2019-04-25 13:37] michaelbynum commented on #79
@tyjchen This has only been updated on github. I doubt there will be another release for about a month. If you want these changes, you will have to clone the repository and run ```python setup.py install``` or ```python setup.py develop```.

[2019-05-02 15:41] emmaliulu opened #91 "WNTR-psv_support installation issue"
@michaelbynum I downloaded psv_support from your folk. When I tried to install it. I got this error message

D:\Research_Y2\WNTR-psv_support>python setup.py install
running install
running bdist_egg
running egg_info
writing top-level names to wntr.egg-info\top_level.txt
writing wntr.egg-info\PKG-INFO
writing dependency_links to wntr.egg-info\dependency_links.txt
reading manifest file 'wntr.egg-inf

[2019-05-02 15:49] michaelbynum commented on #91
@emmaliulu What happens when you run ```python setup.py develop```?

[2019-05-02 15:56] emmaliulu commented on #91
@michaelbynum Same thing happened.

D:\Research_Y2\WNTR-psv_support>python setup.py develop
running develop
running egg_info
writing top-level names to wntr.egg-info\top_level.txt
writing dependency_links to wntr.egg-info\dependency_links.txt
writing wntr.egg-info\PKG-INFO
reading manifest file 'wntr.egg-info\SOURCES.txt'
reading manifest template 'MANIFEST.in'
warning: no files found matching 'LI

[2019-05-02 16:13] michaelbynum commented on #91
@emmaliulu Are you using a 32-bit machine?

[2019-05-02 16:38] emmaliulu commented on #91
I just checked. It is a 64-bit machine.

[2019-05-02 16:52] michaelbynum commented on #91
@emmaliulu What version of python?

[2019-05-02 16:53] michaelbynum commented on #91
@emmaliulu Also, how did you install python?

[2019-05-02 18:00] emmaliulu commented on #91
@michaelbynum I just checked my python is 32-bit. Could this be the problem? I use Anaconda to run python.

[2019-05-02 18:03] michaelbynum commented on #91
@emmaliulu Yes, I believe this is the problem. Conda-forge does not support 32-bit builds, so we don't have any pre-compiled binaries for 32-bit systems right now. My advice would be to download the 64-bit version of anaconda. I know that is annoying, and I apologize. Alternatively, if you have a c++ compiler, you could change the ```build``` flag in ```setup.py``` to ```True```, and then run ```p

[2019-05-03 15:15] emmaliulu commented on #91
@michaelbynum Problem solved! Thank you for your help.

[2019-05-03 15:20] michaelbynum commented on #91
@emmaliulu Great! For future reference, what was your fix? Did you use a 64-bit version of anaconda?

[2019-05-03 15:24] emmaliulu commented on #91
I did a couple things. First, I installed 64-bit version of Anaconda, I also updated my Python to the same version. Second, I installed Visual Studio C++ build tool as required in the command window. After that, the installation went through without any problem.

[2019-05-03 15:31] michaelbynum commented on #91
@emmaliulu I was hoping that you would not have to compile anything once you updated to the 64-bit version of Anaconda/Python. Did you actually compile anything? Did you change the ```build``` flag in ```setup.py``` to ```True``` or did you leave it as ```False```?

I apologize for the many questions. I just want to make sure the install process is easy in the future.

[2019-05-03 15:54] emmaliulu commented on #91
@michaelbynum No, I did not compile anything. I just installed the VS build tool, and then the installation went through.

[2019-05-03 15:55] michaelbynum commented on #91
@emmaliulu Oh, okay. Great! Thanks.

[2019-05-08 18:17] #91 closed

[2019-05-08 18:57] emmaliulu opened #92 "WNTR-psv WNTRSimulator issue"
I successfully installed WNTR-psv and loaded WNTR-psv into python.

Here's my code

Here's what the screen shows

  File "<ipython-input-11-c23e687c17ae>", line 2, in <module>
    results_0 = sim_0.run_sim()

  File "C:\Users\ll69\AppData\Local\Continuum\anaconda3\lib\site-packages\wntr\sim\core.py", line 463, in run_sim
    solver_status, mesg = _solver_helper(model, solver, solver_options)

  Fi

[2019-05-09 15:44] michaelbynum commented on #92
@emmaliulu I think I know what the problem is. To verify, can you try running the simulation in PDD mode?

[code]

[2019-05-09 19:03] emmaliulu commented on #92
@michaelbynum Here's what I get

Traceback (most recent call last):

  File "<ipython-input-21-658b9468b050>", line 1, in <module>
    results_0 = sim_0.run_sim()

  File "C:\Users\ll69\AppData\Local\Continuum\anaconda3\lib\site-packages\wntr\sim\core.py", line 469, in run_sim
    raise RuntimeError('Simulation did not converge. ' + mesg)

RuntimeError: Simulation did not converge. Jacobian is sin

[2019-05-10 13:21] wolfiex commented on #29
Well, that's one way to break all legacy code...

There really should be atleast a message within the error telling you that reversing the arguments may be the cause.

[2019-05-10 18:45] kaklise commented on #29
Are you getting this error when using WNTR? or when using NetworkX?  Where `nx.set_node_attributes` is used within WNTR, the argument names `value` and `name` are used to avoid this error.

[2019-05-14 18:26] emmaliulu commented on #92
@michaelbynum I tested with example INP file and WNTRSimulator went through without any issue. I think it might have something to do with my INP file. Here's what I get when I read in the file.

C:\Users\ll69\AppData\Local\Continuum\anaconda3\lib\site-packages\wntr\epanet\io.py:2072: UserWarning: Not all curves were used in "AvgDay_460MGD_March2018_original.inp"; added with type None, units conver

[2019-05-15 16:33] kaklise commented on #92
Some INP files contain curves that are not used.  All the curves are retained in the WNTR WaterNetworkModel and the warning message is just letting you know some are not needed. If you can share the INP file you're using, that would be helpful.  Otherwise, please email me at kaklise@sandia.gov and we can discuss further.

[2019-05-15 17:08] dbhart commented on #92
In particular, energy cost curves are not used by the WNTR model at this time. This tends to be quite a few of the cases where you will get this warning. I would suggest you email one of the core developers with the model rather than attaching it to an issue unless it is a completely non-sensitive network you are okay with anyone having.

-dave h

From: Katherine Klise <notifications@github.com>
R

[2019-05-15 17:28] emmaliulu commented on #92
Thank you. I just emailed my INP files to @kaklise.

[2019-05-17 14:47] saramille opened #94 "Shape of passed values is (x, 1), indices imply (y, 25)"
Hi,

I have successfully imported the network file (i.e. *.inp). However running the wntr simulator I keep on getting the following error:

Error:
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\internals\managers.py in create_block_manager_

[2019-05-17 21:55] david-dj-taylor opened #95 "write_inpfile() does not write pipe status; instead writes pipe.initial_status"
The difference between pipe.status and pipe.initial_status is not well documented.
I had thought pipe.status would be written as "Status" in the .INP file. Instead the pipe.initial_status is written as "Status".  After tracing this issue, I understand why this difference exists.

[2019-05-20 13:29] michaelbynum commented on #95
@david-dj-taylor Good point. This will probably cause lots of people trouble in the future. @kaklise Should we consider renaming "status" to "current_status"?

[2019-05-20 13:48] michaelbynum commented on #94
@saramille What versions of WNTR and Pandas are you using? Do you get a similar error with the WNTRSimulator (as opposed to the EpanetSimulator)?

[2019-05-20 13:55] kaklise commented on #94
After talking to @saramille, it appears that the simulation does not run to completion in WNTR or in the EPANET GUI.  This issue was resolved by modifying the damping limit in the INP file.  We will try to replicate this error in WNTR and generate a better error message.

[2019-05-20 14:15] saramille commented on #94
I installed the recent version of Anaconda distribution with all the python packages uptodate. I don't recall the version of pandas right now but both WNTR and EPANET simulators were giving me some errors-- the running time on WNTR is a bit longer.

As Kate mentioned, what worked for me was increasing the damping effect from 0 (default value) to 0.1. This might relate to accuracy of the iterations

[2019-05-20 14:29] kaklise commented on #95
The write_inpfile method creates an INP file with initial conditions, we will update the documentation to reflect this and explain the differences between initial and current attributes of the model.

[2019-05-21 18:15] david-dj-taylor commented on #95
Many thanks for your helpful attention! I really love the work you guys have done and are doing!!

[2019-05-28 14:00] #95 closed

[2019-05-29 21:23] pshassett opened #96 "[EpanetSimulator] result_types option does not change the results object"
A few issues related to using the result_types option of EpanetSimulator:

1. The documentation on [wntr.sim.epanet.EpanetSimulator](https://wntr.readthedocs.io/en/latest/apidoc/wntr.sim.epanet.html#wntr.sim.epanet.EpanetSimulator) defines that result_types should be a dict, however documentation on [wntr.epanet.io.BinFile](https://wntr.readthedocs.io/en/latest/apidoc/wntr.epanet.io.html#wntr.epan

[2019-05-30 04:09] dbhart commented on #96
You are correct on all counts. Originally, the result_types was a dict and changed to a list. The simulator by default gets all results unless a custom subclass is used. Reading all data instead of specifying which results to keep resulted in a huge performance improvement, so we kept it that way and forgot to update the docs.

- Dave Hart, Sent from my iPhone

On May 29, 2019, at 3:23 PM, pshasse

[2019-05-30 12:23] pshassett commented on #96
Hi David, Thanks for clarifying.  So similarly, the `wn.options.results.results_obj` attribute is never used in either the WNTR or EPANET simulators?

[2019-07-18 02:48] jeongsoo0908 opened #98 "RuntimeError: Hydraulic_metrics"
Hello. I want to inquire about error while studying WNTR Simulator.
An error occurs during the calculation of 'Compute water service availability, for each operation' in the hydraulics.

Warning (from warnings module):
  File "C:\Users\syste\AppData\Local\Programs\Python\Python36\lib\site-packages\wntr\sim\hydraulics.py", line 713
    last_segment = (-0.5)*j_d/(nomP-minP)*((P-minP)/(nomP-minP))**(

[2019-07-22 15:08] michaelbynum commented on #98
This is actually not a problem. These warnings come from numpy. They are expected, but difficult to suppress. We are working on a refactor of the hydraulics model that should be available in a few weeks. One of the benefits of th refactor is that these warnings will not be encountered.

[2019-07-23 15:05] kaklise commented on #96
Documentation updated in #99

[2019-07-23 15:05] #96 closed

[2019-07-24 15:17] pshassett opened #100 "Feature Request: EPANET demand multiplier support in WNTR solver"
What would it take to have support for this option in the wntr solver?

Its inclusion in the calculation of [`wntr.metrics.expected_demand`](https://wntr.readthedocs.io/en/latest/_modules/wntr/metrics/hydraulic.html#expected_demand) can result in unexpected values from [`wntr.metrics.water_service_availability`](https://wntr.readthedocs.io/en/latest/_modules/wntr/metrics/hydraulic.html#water_servi

[2019-07-24 20:49] kaklise commented on #100
This is listed as a known limitation of the WNTRSimulator.  I think it is an easy fix, I'll try to get this resolved soon.

[2019-07-25 00:06] pshassett commented on #100
Great to hear!

[2019-08-01 00:11] gandresr opened #101 "Error in EmitterCoeff unit conversion when using EpanetSimulator"
It seems that the EmitterCoeff (Ke) of a node is not properly converted from flowunit/psi0.5 to flowunit/m0.5. Considering that pressure in SI is given in meters, Ke should be multiplied by 0.7032 ** 0.5 instead of 0.7032.

[2019-08-01 00:16] gandresr commented on #101
Considering that precision is lost because of **0.5, it'll be nice if you could instead declare the conversion as follows to minimize truncation error in util.py

data = data * 1.42197020632 ** 0.5

[2019-08-07 12:38] GalPerelman opened #102 "run_sim() error"
Hello,
I'm trying to run the Getting Started [example](https://wntr.readthedocs.io/en/latest/getting_started.html) and get the following error:

`OSError: [WinError 126] The specified module could not be found`

[2019-08-07 12:43] michaelbynum commented on #102
Can you provide any more details? What version of WNTR are you using? Can you provide the full stack trace?

[2019-08-07 12:50] GalPerelman commented on #102
I'm using wntr 0.1.7

![run_sim error](https://user-images.githubusercontent.com/53649764/62624100-016a8080-b92b-11e9-8c11-52e28428b01f.PNG)

[2019-08-07 12:51] michaelbynum commented on #102
Thanks. One more question. What version of Python are you using?

[2019-08-07 12:54] GalPerelman commented on #102
Python 3.7 with Anaconda

[2019-08-07 13:46] michaelbynum commented on #102
When you installed python with anaconda, did you use the 32-bit or the 64-bit installer?

[2019-08-07 13:47] GalPerelman commented on #102
64 bit

[2019-08-07 17:01] michaelbynum commented on #102
And how did you install winter?

[2019-08-08 05:52] GalPerelman commented on #102
I'm working on an offline system
For that reason, I downloaded whl file, delivered it to the offline system,
and then installed it with pip install

[2019-08-12 10:16] GalPerelman commented on #102
I figured out what was the problem, Apparently, one of the DLL files was missing.
I think that during the transference of the whl file to the offline system, the specific file was dropped.
To solve this, I downloaded the missing DLL separately and saved it in the directory according to the error. Now it's works

[2019-08-12 14:14] dbhart commented on #102
Can you tell us which one? It would be good to know if this comes up again. TIA

- Dave Hart, Sent from my iPhone

On Aug 12, 2019, at 4:16 AM, GalPerelman <notifications@github.com<mailto:notifications@github.com>> wrote:

I figured out what was the problem, Apparently, one of the DLL files was missing.
I think that during the transference of the whl file to the offline system, the specific file

[2019-08-12 14:21] GalPerelman commented on #102
The missing file was 'epanet2_amd64.dll'
Need to be located in 'C:\ProgramData\Anaconda3\Lib\site-packages\wntr\epanet\Windows'

[2019-08-12 14:54] dbhart commented on #102
Thank you! We’ve had problems before on DLLs not getting in (2 vs 3 method differences) so we will look to make sure it’s included in the right places.

[2019-08-16 16:05] #100 closed

[2019-08-16 16:06] #98 closed

[2019-08-16 16:06] #92 closed

[2019-08-16 16:07] #72 closed

[2019-08-21 21:41] gandresr opened #104 "Error in units change HeadLoss"
HeadLoss units are not properly converted when using the epanet package

[2019-08-22 13:30] michaelbynum commented on #104
@gandresr Can you provide any more details on the problem you are having?

[2019-08-27 13:45] pshassett opened #105 "[wntr/epanet/io.py] Error converting float PRIORITY value in [RULES] section"
Appropriately, `ValueError: invalid literal for int() with base 10:` is raised if a non-integer value is entered as a rule's Priority value in the inp file.

However, in cases where Priority is manually or programmaticaly assigned a float value such as '1.0', this still raises an error.  The same inp file opens and runs fine in EPANET.

This can be resolved by converting the parsed string value fo

[2019-09-10 21:36] tyjchen opened #107 "How to accurately model pipe breaks?"
I'm trying to estimate the change in system pressure due to a pipe break and i'm struggling to figure out how to do this in a pressure-dependent way in WNTR. This is what I currently do:

1. remove pipe using wn.remove_link()
2. add two leakage nodes wn.add_junction() nearby the two nodes connecting the original pipe
3. add two pipes connecting each leakage node to the original two nodes, the two

[2019-09-10 21:57] kaklise commented on #107
We've made some updates to the user manual that might help.  I suggest looking at the example in https://wntr.readthedocs.io/en/latest/morph.html#split-or-break-pipes.  After breaking the pipe, you could add a leak with large area to each end of the broken pipe.  There is also an example that adds base demand and demand pattern in https://wntr.readthedocs.io/en/latest/waternetworkmodel.html#modify

[2019-09-10 22:19] dly9000 commented on #107
You can use the area of the pipe that breaks for thew broken pipe.

On Tue, Sep 10, 2019 at 2:57 PM Katherine Klise <notifications@github.com>
wrote:

--
Doug York

[2019-09-11 22:05] emmaliulu opened #108 "Run extended simulation with WNTR"
I have no trouble running WNTRSimulator with the default 24-hour setting in my model. But when I tried to run extended simulation of 48 hours, the simulation cannot solve. Here's what I did.

inp_file = 'AvgDay_460MGD_March2018_original.inp'
wn_0 = wntr.network.WaterNetworkModel(inp_file)
wn_0.options.time.duration = 48*3600
sim_0 = wntr.sim.WNTRSimulator(wn_0, mode = 'PDD')
results_0 = sim_0.run_

[2019-09-13 19:13] emmaliulu commented on #108
@michaelbynum OK. thank you for pointing this out. I'll try adding a pipe between tank and pump to see if this will solve the problem.

[2019-09-16 13:27] tyjchen commented on #107
i have implemented the pipe split module, do i need to specify a base demand/demand profile for the new leakage node inserted at the middle of the original pipe?

[2019-09-16 21:10] #105 closed

[2019-09-17 20:50] emmaliulu commented on #108
@michaelbynum I added a pipe between all tanks and all connecting pumps. The model runs smoothly with EpanetSimulator, but not with WNTRSimulator. I guess the solution may be more complicated than simply adding pipes. Would you like to take a look at the modified network?

[2019-09-20 19:34] pshassett opened #109 "[setup.py] install_requires argument"
Is there any interest in using the `install_requires` argument in the setuptools setup() so that any missing dependencies are automatically installed on a pip install? [Here's some documentation on this option.](https://python-packaging.readthedocs.io/en/latest/dependencies.html)

Are there any possible unforeseen complications from this?

[2019-09-20 21:50] dbhart commented on #109
I think this is a good idea; we want to make sure that it is the minimum set of packages and avoid version restrictions if at all possible. With things like Pandas, some people may be deliberately holding back because of backwards compatibility problems, and we don’t want to accidentally get them to update when they don’t mean to. Although, that may mean things don’t work as expected anyway …

Fro

[2019-09-20 22:16] kaklise commented on #109
I'd prefer not to change the python environment through setup.py.  The requirements file can be used to install required packages.

[2019-09-23 13:24] pshassett commented on #109
Packages like pandas do this.  I did a test installing an older version of pandas and then running the install, and pandas and all of its dependencies were not touched.

By providing this service on install, first time users would be able to get up and running with much less effort.  Also, packages that depend on WNTR wouldn't have to manually account for all of WNTR's dependencies, they could jus

[2019-10-17 10:56] pdMa2s commented on #109
I agree with @pshassett

[2019-10-17 11:31] pdMa2s opened #111 "AttributeError: 'WntrMultiDiGraph' object has no attribute 'node'"
Hi,
First of all, congratulations on the project, I really appreciate the effort.

I encountered this error:

_Traceback (most recent call last):
  File "/home/pdma2s/Documents/ONLE/wntr_test.py", line 16, in <module>
    title='Pressure at 5 hours')
  File "/home/pdma2s/.local/lib/python3.7/site-packages/wntr/graphics/network.py", line 332, in plot_interactive_network
    x0, y0 = G.node[edge[0]]

[2019-10-25 12:22] 4flixt opened #112 "EPANET Error 200: On Ubuntu with example network (getting_started.py)"
We setup WNTR in an Anaconda Python 3.7 environment on Ubuntu 19.04 with only WNTR package (and its dependencies) installed. The ```getting_started.py``` is throwing a
```wntr.epanet.toolkit.EpanetException: EPANET Error 200``` which means **"one or more errors in input file."** We have not changed the input file. Running the simulation with
[code]
is successful. The report file is attached and sh

[2019-10-25 13:45] 4flixt commented on #112
A dirty fix for this bug seems to be to uncomment:
[code]
Without this plot prior to the simulation everything works like a charm.
Even just opening an empty figure with
[code]
will throw EPANET Error 200.

[2019-10-29 15:37] dbhart commented on #112
I would say that perhaps there is a problem with the EPANET .so library, but if that were the case, it shouldn't be running at all. I know unicode characters will break EPANET, but this should not be the case because you are right, there shouldn't be anything changing in the input file...

[2019-10-30 08:30] 4flixt commented on #112
It was difficult to diff the original .inp file to the temp.inp file since the formating is not identical and comments are removed. I instead compared the temp.inp from a working simulation (not calling matplotlib prior to simulation) to a failed simulation (adding ```plt.figure()``` at the head of the script). Those two are identical (apart from the time stamp). I only tested Net6.inp from the ex

[2019-11-11 04:52] jeongsoo0908 opened #114 "Hydraulic metrics -Todini Index"
Hi, I have a question about hydrological metrics.

According to the source code(wntr.metrics.hydraulic), there are five factors that are calculated to calculate the Todini index, but PInRes in particular contains (-)negative values.

I don't understand this part, so please explain it.

[2019-11-12 15:44] kaklise commented on #114
The Todini index uses reservoir discharge, which is positive when water enters the system.  Reservoir discharge is included in the simulation results as a node demand, but demand is positive when water leaves the system.  The negative value switches demand to discharge.

[2019-11-20 15:18] tasseff opened #115 "Segmentation fault after repeated simulations"
I'm currently using WNTR within an optimization routine that iteratively solves EPANET models. I'm finding that, consistently, after 1016 iterations, WNTR (or one of its libraries) is producing a segmentation fault. This is quite mysterious, as this behavior persists even when simulating over a completely different network. Here's [a link to one such INP file that I'm using](http://emps.exeter.ac.

[2019-11-20 16:05] dbhart commented on #115
I attempted the same thing using the code you provided and when using Net3 from EPANET. (BTW, there are negative pressures at timestep 0 in your model). I reproduced the results you are seeing with both. I turned on debugging, and the following code shows the results.
The EPANET error 305 indicates that it was unable to open the file. Because logging prevented it from doing a segfault, I was able

[2019-11-20 17:06] tasseff commented on #115
Thank you very much! I appreciate the alternatives you've suggested and will try the first in the meantime.

[2019-12-02 09:21] HaozhiTan opened #116 "Pipe Vertices Setting"
Set the vertices of the pipe like below is not working.
wntr.network.elements.Pipe('P1', 'N1', 'N2', wn).vertices = [(1,1), (2,2)]

[2019-12-02 16:49] Jvss opened #117 "wntr Simulator issue (SI units?)"
I am having trouble with the wntrSimulator. My EPANET model is quite simpel containing only pipes, nodes and 1 reservoir feeding the network. The model is in SI units (with flow units CMH), which gives no problem when running the epanetSimulator, but when trying to run the wntrSimulator it gives an error:

  File ".....\lib\site-packages\wntr\sim\core.py", line 890, in run_sim
    raise RuntimeErr

[2019-12-02 23:20] kaklise commented on #116
`wntr.network.elements.Pipe('P1', 'N1', 'N2', wn)` creates a new pipe object, which you can add to a water network model.  We suggest using the water network model directly and adding pipes using `wn.add_pipe`.  Once the pipe has been added to the water network model, you can set pipe vertices as follows:
[code]
Note that pipe vertices are not currently used in WNTR network graphics.

[2019-12-02 23:24] kaklise commented on #117
Thanks for sending in this issue.  Could you send a short example and the INP file?  If you'd rather not upload the INP file into GitHub, you can send it to kaklise@sandia.gov.

[2019-12-03 07:26] BlomTbl commented on #117
I am running into the same problem with my hydraulic model. So I used the Net1.inp example,  changed the units from GPM to CMH, after which the problem of not converging also occurred.

[2019-12-03 08:59] Jvss commented on #117
Yes, I compared it as well to the examples, which is how I figured out that I needed to change my model to GPM in Epanet. But indeed, the examples are having the same issues when changing the units. I have send you an email kaklise.

[2019-12-03 17:03] kaklise commented on #117
When you change the units in the INP file, are you changing demand values?  Demand units follow flow units in EPANET INP files.  I'll look into the convergence issue.

[2019-12-04 08:23] Jvss commented on #117
I only changed the flow units in the Hydraulics options and exported it as a new INP file. So I did not yet change any demands values, hence they are all the same as before. (but I suppose in different units now) The system flows are exactly the same, with the only difference being the label on the y-axis. But when checking the pressure through time at an arbitrary node, it shows a horizontal line

[2019-12-04 18:38] pareyesv opened #118 "update version number"
I think the version number is not up-to-date in [`wntr/__init__.py`](https://github.com/USEPA/WNTR/blob/08e54350406117862361e71f4ec0b691e0fa9b98/wntr/__init__.py):

https://github.com/USEPA/WNTR/blob/6f08835a929498ff66a57d595ef355a469a2d73d/setup.py#L62

https://github.com/USEPA/WNTR/blob/6f08835a929498ff66a57d595ef355a469a2d73d/wntr/__init__.py#L10

See https://packaging.python.org/guides/single-

[2019-12-04 19:25] kaklise commented on #118
Thanks for pointing this out.  We'll get that fixed.

[2019-12-06 15:35] #118 closed

[2019-12-19 14:40] Jvss commented on #117
I believe it has something to do with the units conversion during change CMH -> GPM.
When modifying the model in WNTR and changing to GPM (and creating a temp file to look at the results) causes a change in diameter units millimeters -> inch.
When solely changing to GPM in EPANET (saving and exporting it to a new file) and importing with WNTR yields in a conversion factor for diameter units inch -

[2020-01-09 21:26] kalebsm opened #120 "problem importing wntr into python"
I am trying to run some code that imports wntr and I get this import error: (ImportError: /lib64/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by …)). I am working in a virtual environment that I have downloaded all the required dependent packages. I cannot seem to track down how to fix this, though I have tracked the libstdc++.so.6 thing to the following website which sites a similar

[2020-01-09 22:29] michaelbynum commented on #120
@kalebsm Can you please provide the operating system you are working on, the python version you are using, and a full stack trace for the error you are getting?

[2020-01-10 19:21] kalebsm commented on #120
@michaelbynum I am working on Red Hat Enterpirse Linux 7.4, with python3.6. Here is the trace:

Traceback (most recent call last):
  File "/[...]/venv/lib/python3.6/site-packages/wntr/sim/aml/evaluator.py", line 14, in swig_import_helper
    return importlib.import_module(mname)
  File "/[...]/venv/lib64/python3.6/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import

[2020-01-15 19:06] RedISeb commented on #120
Im using Python 3.7 on Win 10 and get nearly the same error: _ModuleNotFoundError: No module named '_evaluator'_
But surprisingly when I run a wntr example within the anaconda environment it works without any problems or error messages

[2020-01-15 20:21] dbhart commented on #120
I have started trying to set up tests for Python 3.8 and have similarly seen this issue. It has to do with the linking between numpy and the aml simulation module in WNTR. I don’t know if Michael has any ideas on what to do for this. Using anaconda is ensuring that the libraries match which is why it works in the anaconda environment; the binaries are built with conda-forge.

[2020-01-16 02:03] afmurillo commented on #120
Hello, I have the same issue. My environment is a little more rough, this is a mininet virtual machine running Ubuntu Xenial and python 2.7, I'm trying to import using ipython

[2020-01-16 13:37] michaelbynum commented on #120
@kalebsm @RedISeb @afmurillo Could you also please mention how you installed WNTR? I apologize for the trouble. I will try to get this fixed ASAP.

[2020-01-16 13:44] michaelbynum commented on #120
@afmurillo Sorry, WNTR no longer supports Python 2.7. Please see the release notes at https://wntr.readthedocs.io/en/latest/whatsnew.html#v0-2-1-aug-13-2019.

[2020-01-16 14:47] michaelbynum commented on #120
Sorry @kalebsm, but I have a few more questions.

1. How did you create your virtual environment (venv, condo, etc.)? It looks like venv, but I want to be sure.

2. How did you install WNTR?

3. What output do you get when you enter the python console from a terminal? For example, I get
$ python
Python 3.7.1 (default, Dec 14 2018, 13:28:58)
[Clang 4.0.1 (tags/RELEASE_401/final)] :: Anaconda, Inc.

[2020-01-16 14:59] RedISeb commented on #120
@michaelbynum I simply used pip install wntr

[2020-01-16 15:16] michaelbynum commented on #120
@RedISeb Can you also provide the full stack trace?

[2020-01-16 15:24] michaelbynum commented on #120
While I am working on fixing this, I recommend installing WNTR with conda.

[2020-01-16 16:25] RedISeb commented on #120
@michaelbynum ofc
Traceback (most recent call last):
  File "C:\Users\seb\AppData\Local\Programs\Python\Python37-32\lib\site-packages\wntr\sim\aml\evaluator.py", line 14, in swig_import_helper
    return importlib.import_module(mname)
  File "C:\Users\seb\AppData\Local\Programs\Python\Python37-32\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:],

[2020-01-20 03:52] jorgeps86 commented on #120
I'm trying to use WNTR on my laptop. Windows 10. Python 3.7.2
When importing WNTR to the Jupyter Notebook, I got the error
"ModuleNotFoundError: No module named 'wntr.sim.aml._evaluator'"

However, when I use the command prompt and install WNTR using pip, I got:
"Requirement already satisfied: wntr in c:\python\lib\site-packages (0.2.1)"

Does anyone know how to solve this problem?
PD. Conda did n

[2020-01-20 04:13] afmurillo commented on #120
I see. the solution I found was using virtual environments in python. So I can run python 3.7 for WNTR and 2.7 for all the other modules we have.
Probably that solution will also work for other people issues

[2020-01-20 13:29] michaelbynum commented on #120
@jorgeps86 Sorry, when installing WNTR with Conda, you need

[code]

[2020-01-20 15:13] jorgeps86 commented on #120
Hi @michaelbynum and thank you for the quick response. Unfortunately, after using conda install -c conda-forge wntr, the package seems to be installed but the problem when importing it from jupyter notebook persists: ModuleNotFoundError.

Would you let me know if you have any ideas?
Thank you for your time.

[2020-01-20 18:55] dbhart commented on #120
Hi @jorgeps86 , my suspicion is that the jupyter you are using isn't a conda installed version, or that jupyter is coming from a different conda environment. That would cause jupyter to not be able to find the module, because it is looking at a different PYTHON_LIB location from the conda install of WNTR.

[2020-01-20 22:26] jorgeps86 commented on #120
You are completely right. I had installed Python twice by Anaconda and directly. I uninstalled the latter and now WNTR can be imported without any issues. Thank you @dbhart  !

[2020-01-21 17:24] dbhart commented on #120
@jorgeps86 I am glad that it is working! We will update the install instructions to mention that using conda and Python.org simultaneously can (will) cause problems.

We are working to update the installation instructions for the folks that are finding issues with Linux environments. For those folks, like @kalebsm , we are working to update the install to describe how to build the binaries locally

[2020-01-21 17:32] dbhart commented on #120
Also, if you have SWIG, you can change `use_swig = False` to `use_swig = True` to compile using SWIG. I am not sure if that is faster, or not - @michaelbynum ?

[2020-01-21 17:34] michaelbynum commented on #120
I recommend leaving `use_swig = False`. This flag only needs changed if the swig wrappers need updated, which is only needed if the c++ code changes.

[2020-01-22 19:36] kalebsm commented on #120
@michaelbynum, sorry for the delay. I was using virtualenv to create a virtual environment, and pip to install packages. These are python specific and won't get any non-python dependencies. Utilizing conda does work, though also on an Ubuntu OS, virtualenv and pip do work to install pip and import wntr in a venv. The output from the original python console is as below:

Python 3.6.3 (default, Jan

[2020-01-23 11:24] afmurillo opened #121 "changing the attribute value of a node or link in a step by step simulation"
I am trying to run a step by step simulation in which an external element can change the control actions taken in the simulation. To test this, we want to see if it's possible how to change the status of a pump.
This is the code we are using to try that, but we are not sure it is working properly. Is it possible to accomplish what we are trying to do?

import wntr

inp_file = 'minitown_map.inp'
wn

[2020-01-23 13:55] blackmamba33 opened #122 "Problem running the PDD simulation"
Hello, I'm trying to run some PDD simulation with wntr. Some network work, but in some cases I've got this traceback:
"ValueError: The number of constraints and variables must be equal."
I'm using python 3.7 64 bit and anaconda.
Can someone help me?
Thanks
![Cattura](https://user-images.githubusercontent.com/60220509/72990323-40fd2a00-3df0-11ea-9f62-7a09a147651f.JPG)

[2020-01-23 14:49] michaelbynum commented on #121
@afmurillo What you are trying to do is definitely possible. However, to verify that you are getting the behavior you expect, you should be checking the status field of the results.link data frame rather than the status attribute on the pump object. The one caveat I should mention is that there may be interactions between the changes you are trying to make and the controls in your network. If you

[2020-01-27 09:00] blackdiamond-max commented on #122
Hello, can you share the code you are using for **PDD**

[2020-01-27 14:21] blackmamba33 commented on #122
This is the code:

import wntr

import numpy

inp_file = 'Helmond_originalDD2.inp'

wn = wntr.network.WaterNetworkModel(inp_file)

sim = wntr.sim.WNTRSimulator(wn, mode='PDD')

results = sim.run_sim()

[2020-01-29 08:32] afmurillo commented on #121
Hello  @michaelbynum I would like to ask if this line is neccesary, after we change the pump values
sim = wntr.sim.WNTRSimulator(wn)

I do not know if I have to build a new WNTRSimulator object after I change the attribute of wn. Is the line above neccessary? Or can I just change the value of the pumps and simply call "sim.run_sim" ?

[2020-01-31 18:02] #57 closed

[2020-01-31 18:03] #62 closed

[2020-01-31 18:05] #94 closed

[2020-01-31 18:10] #114 closed

[2020-01-31 18:12] #116 closed

[2020-01-31 18:16] kaklise commented on #122
Can you email me the inp file?  kaklise@sandia.gov

[2020-02-04 10:03] #122 closed

[2020-02-11 14:05] bouziot opened #123 "Link name mismatch between wn and results objects"
I have received an EPANET file that features complex alphanumeric combinations for link names. This is probably due to an import from third-party software, likely Infoworks. Links are a combination of alphanumeric characters and dots, e.g. a link name might be:
`'Xyz_VA_Sample_AB005TN04.Aanj_NY.1'`

When I try to run the model in WNTR, the simulation (using `EpanetSimulator`) finished without erro

[2020-02-11 14:18] bouziot commented on #123
Edit: upon closer inspection of the mismatch it seems that the problem doesn't have to do with the character content but the **length**  - link names with length larger than 32 characters appear to be truncated to 31.

[2020-02-11 15:21] dbhart commented on #123
Yes, this is an EPANET restriction. However, there may be ways to work around this by remapping the names on the results objects after the fact. The ordering of nodes and links should be consistent.

- Dave Hart, Sent from my iPhone

On Feb 11, 2020, at 7:18 AM, bouziot <notifications@github.com> wrote:

﻿

Edit: upon closer inspection of the mismatch it seems that the problem doesn't have to do w

[2020-02-11 16:30] bouziot commented on #123
Can you point me at the easiest way to map/re-index the `results` object link names? If it behaves like a dictionary, I could try the following strategy to clone the entries and then delete the old ones.

[code]

[2020-02-11 19:38] kaklise commented on #123
I believe that when using the EPANET simulator, the truncation can override an existing component (node or link) and have unexpected consequences beyond naming in the results object.  If this is the case, we should throw an error if component names exceed the allowable length from EPANET.

[2020-02-12 11:14] bouziot commented on #123
I have managed to remap the names of the `results` object and plot link results as well but as @kaklise has stated, there are other implications from the truncation that render this solution not universal. For instance, there could be name clashes. Maybe another solution would be to expose a  `truncate` set of functions to the user for the `wn` object through the `utils` package, where the user wo

[2020-02-15 21:01] TimothyVD opened #124 "Add check to enforce string for names in add_pipe"
I had a small network of 7 junctions, 1 reservoir, and 8 pipes (2 pipes are parallel), which I constructed myself based on CSV files and using the wntr commands add_junction, add_reservoir, and add_pipe.

I was able to run simulation using the epanet engine, but the WNTR engine did not work. My problem was that I did not properly convert my node IDs (which were just numbers) to strings in the add_

[2020-02-18 19:00] kaklise commented on #124
I was not exactly able to replicate this error.  When adding a node, the ``NodeRegistry`` checks to make sure the node name is a string and when adding a pipe, the start and end node must already exist.  That said, we should include additional assert statements to check argument types.

The network does not need to be fully connected to use the ``WNTRSimulator``, but you can check if the network i

[2020-03-05 15:00] bahadurr opened #128 "Skeletonization"
I am using WNTRMorphSkel.py script for Skeletonization. The issue is with the aggregation of nodal base demands. Total aggregated base demand for all nodes should remain same even after Skeletonization. But in my test example, the script captures only 10% of the demand. The demands after Skeletonization do not get aggregated and assigned to nodes correctly. I I am using 16 inch pipe diameter for S

[2020-03-05 15:13] kaklise commented on #128
Are you able to share your script and network model?  You can email the files to kaklise@sandia.gov if you would rather not post the files here.

[2020-03-05 15:28] bahadurr commented on #128
Katherine

I can share the script (attached) but the network model I cannot because of obvious reasons. The model input file was given to me by Robert Janke from EPA Cincinnati.

I tried the same script with NET6.inp file that is packaged with WNTR and getting the same results. The script can be tested on NET6.inp file if it helps

Rakesh Bahadur, Ph.D., PMP | Leidos
MS FS 1-5-1
11951 Freedom Driv

[2020-03-05 15:29] bahadurr commented on #128
Katherine

You may not get the attachment as Outlook sometimes strips the python scripts. If that is case then let me know if I can upload the script for you

Rakesh Bahadur, Ph.D., PMP | Leidos
MS FS 1-5-1
11951 Freedom Drive
Reston, VA 20190
phone: 571.526.7120
bahadurr@leidos.com<mailto:bahadurr@leidos.com>  |  leidos.com

[cid:image001.png@01CF9B6D.2D0979D0]
This email and any attachments to i

[2020-03-05 15:58] kaklise commented on #128
I don't see the attached file, but I can provide an example using Net6 to start the discussion.

The issue might be explained by how demands are extracted from the original and skeletonized model.  Within the skeletonization process, base demands and demand patterns are moved to remaining nodes. We can compute total demand at each junction and time using base demands, demand patterns, and the dema

[2020-03-05 16:15] bahadurr commented on #128
Katherine

I changed the extension of the script from .py to .txt and resending. Hopefully this file won’t be stripped by Outlook.  You may want to change the extension back to .y to run it.

My understanding is that the Base demand for the whole model (not individual nodes) should remain same before and after Skeletonization.

Rakesh Bahadur, Ph.D., PMP | Leidos
MS FS 1-5-1
11951 Freedom Drive
Re

[2020-03-05 16:24] kaklise commented on #128
We preserve the original base demand values and demand patterns when combining junctions in the skeletonization process.  We should clarify this in the user manual.  You could aggregate these into new base demands and demand patterns for each junction, but this could potentially create many new patterns, and makes debugging difficult.

[2020-03-05 16:58] bahadurr commented on #128
Katherine

I think I know the issue. The small script you have sent to me converts pipe diameter from INCHES to METERS. I was using simple inch as there was no mention of the conversion in the manual. It is working fine and giving me reasonable results. I will now compare the original model with the skeletonized model

skel_wn = wntr.morph.skeletonize(orig_wn, 16*0.0254)

Thanks again for all your

[2020-03-05 17:38] kaklise commented on #128
I'm glad to hear that it's working.  WNTR uses SI units throughout the software.  https://wntr.readthedocs.io/en/latest/units.html

[2020-03-05 18:40] bahadurr commented on #128
Katherine

I am getting the following Waning:

UserWarning:

Not all curves were used in "C:\WNTR\Testing_Script/Texas_Example2_Testing_FOUO.inp"; added with type None, units conversion left to user

What does it mean?

Thanks again for all your help today

Rakesh Bahadur, Ph.D., PMP | Leidos
MS FS 1-5-1
11951 Freedom Drive
Reston, VA 20190
phone: 571.526.7120
bahadurr@leidos.com<mailto:bahadurr@l

[2020-03-05 19:04] dbhart commented on #128
Hi Rakesh,

This warning means that for things like energy curves, we don’t use them in WNTR so we leave them alone. We assign curves their properties (pump, energy, etc.) based on what elements they get assigned to (pump-head, tank-volumes). So if there is a curve that never gets used, or which is an energy curve, we put this warning in there so the user knows that there may be a curve we didn’t

[2020-03-18 15:32] #128 closed

[2020-03-20 10:01] jeongsoo0908 opened #130 "Topological metrics - Weight_graph"
According to the manual provided, It is stated that NetworkX can use weighted graph.
If I consider the flowrate(Link attribution) as a weight using weighted graph,
I'm wondering that how to calculate the weight.
Can you explain about this?

Please reply.
Thank you.

[2020-03-23 15:46] kaklise commented on #130
You can weight the NetworkX graph by flowrate using the following example.  The example uses flowrate at 1 hour.  This example uses recent updates in WNTR 0.2.2.

[code]
If you want to return a weighted graph where the link directions are defined by flow direction, set `modify_direction` to True
[code]
You can check the results as follows:
Flowrate on pipe 175 is positive (flow from start node to

[2020-03-23 15:56] jeongsoo0908 commented on #130
Thank you for your reply,  but what I'm curious about is process of creating a weighted graph.

Could you explain it to me?

[2020-03-23 16:04] kaklise commented on #130
A weighted graph just assigns a value to links and/or nodes.  These weights can be used in topographic calculations.  For example, if you want to compute a path length through a network, you'd want to weight each link by it's pipe length.   If you computed path length using an unweighted graph, the result would in number of links instead of total pipe length.

[2020-03-29 19:01] ziedbouf commented on #130
Hi @kaklise, @jeongsoo0908  sorry to jump in directly on the same thread. I am trying to compute the pairwise distance  between all nodes  but for some reasons it seems i am mistaking (as i am newbie to this field):
`G = wn.get_graph(link_weight='length', modify_direction=True)`

[code]

[code]

[code]

[code]

<img width="1047" alt="Screen Shot 2020-03-29 at 21 55 58" src="https://user-images.git

[2020-03-30 15:25] ziedbouf commented on #130
sorry stupide mistake on my end forgot to generate an undirected graph, i am surprise it on the way the graph is generated as directed graph? and basically the shortest distances matrices end up to be not positive defined which another problem to deal with more  @theoretical point of view 😞

[2020-03-31 18:36] kaklise commented on #130
Thanks for the update.  Water network models are defined as directed graphs to preserve information regarding the start and end node of links.  This information is used to define the direction of valves and pumps.

[2020-03-31 18:41] ziedbouf commented on #130
Thanks @kaklise i see, but does this should be under the control level. What i mean is that from physical point of view it's not related to the pressure distribution in the network itself, is this assumption right?

[2020-03-31 18:51] kaklise commented on #130
This information could be defined at the controls level, but WNTR retains the start and end node conventions defined in EPANET.  This does have an impact on network pressure in a hydraulic simulation.  As you mentioned above, topographic paths can be computed using an undirected graph.  You could also create directed graphs based on other attributes, like flow direction.

[2020-03-31 18:55] ziedbouf commented on #130
I wonder if there are any place where where we could have  these type of discussions and subjects 🤔as i am exploring this field and i am interested in learning more on the physics and application related to this.

Thank you some @kaklise

[2020-03-31 19:00] ziedbouf opened #132 "distributed processing"
Thanks For the USEPA community on creating such an amazing library. I would like to ask if there are any distributed computation framework such as [dask](https://dask.org/) or [ray](https://rise.cs.berkeley.edu/projects/ray/)  used by USEPA to run large scale simulation done.

[2020-04-02 18:02] #130 closed

[2020-04-03 22:39] pshassett commented on #132
Depending on the processing capabilities you have available, the [python multiprocessing library](https://docs.python.org/3.8/library/multiprocessing.html#module-multiprocessing) could be a useful option.  I have used it in applications of WNTR to execute sets of ~3000 simulations in parallel.  If you are interested I would be happy to share my methods.

[2020-04-03 22:46] dionikolop commented on #132
That would be very interesting!

[2020-04-03 23:14] ziedbouf commented on #132
@pshassett  that's very interesting and it would be nice start to see how we distribute simulations.

[2020-04-04 00:24] pshassett commented on #132
Take a look at [this function](https://github.com/pshassett/CriticalityMaps/blob/97b864f56333c0e30a95d01e8d6143048dbaaedd/criticalityMaps/criticality/mp_queue_tools.py#L24) that takes a list of (function, args) tuples as input and returns all of the results objects of your function in a list. By default this uses 2/3 of the processors on the machine but can be manually specified with the `num_proc

[2020-04-04 13:08] ziedbouf commented on #132
thanks @pshassett yes this one approach for one single machine is valid and specially when using high end computation machine on the cloud.

[2020-04-04 14:52] jpark7926 opened #133 "Weighted graph"
Hi, I'm curious about creating a weighted graph.

For example, if I want to compute a Betweenness centrality through a network, I want to weight each link using flowrate results.

I applied weights to calculate a Betweenness centrality(weighted : flowrate), but we would like to hear an explanation of how the weighted graph results are calculated.

If you possible, I would appreciate it if you coul

[2020-04-04 20:47] TimothyVD commented on #124
Thanks for your input. Sorry for the delay, but I compiled a small working example to further clarify the issue above.

[code]

Which yields the following output:
[code]
The above indicates that EpanetSimulator is successfully running, while the WNTRsimulator cannot handle the integer (which makes sense I think). However, the errors which pop up are:
`RuntimeError: Simulation did not converge. Lin

[2020-04-06 14:34] kaklise commented on #133
There is an example in #130 that creates a weighted graph using flowrate on Net3.  I believe that the NetworkX method to compute betweenness centrality requires a simple graph (which can be weighted, but can only have one link between nodes).  If your network has multiple links between nodes, you can reduce this to a simple graph using `simple_graph = nx.Graph(multi_graph)`.

The WNTR documentatio

[2020-04-06 15:18] jpark7926 commented on #133
Thank you for your answer :)

[2020-04-06 22:18] #133 closed

[2020-04-07 21:41] kaklise commented on #124
Thanks for posting an example.  We certainly need to add assert statements to check data types.  I would also expect an error when adding a pipe using an end node that doesn't exist (using a node named int(1)).  I believe that the EpanetSimulator runs successfully because it writes the water network model to a file, and at that point, the name is a string.  The WNTRSimulator uses the water network

[2020-04-15 19:47] fabosilva opened #134 "Accuracy differences in results between WNTRSimulator and EpanetSimulator"
I have already tested several network's examples and, comparing the results obtained using wntrsimulator and epanetsimulator, I could notice that there are differences from the second decimal place between the two methods. Is there some way to adjust or fix the calculation of the accuracy using wntrsimulator? I've mainly observed pressure's results.

[2020-04-16 01:17] 1-1-2 commented on #134
我也观察到了类似的情况。
我认为这个问题主要的原因是，两个内核对于方程组的实现方式和方程组的求解器是不一样的。在满足残差值的情况下面，结果会有稍微的偏差。这个相对误差量级大概在十的负四次方。
我个人认为，因为都是基于迭代的求解，所以这种误差应该是没有办法完全消除的。

[2020-04-16 14:28] kaklise commented on #134
The comment above has been translated here "I have observed a similar situation.
I think the main reason for this problem is that the two kernels implement the equations differently than the equation solvers. Under the condition of satisfying the residual value, the result will have a slight deviation. This relative error level is probably in the negative fourth power of ten.
I personally think th

[2020-04-16 14:29] kaklise commented on #134
The two simulators will have slight differences in their results.  WNTR includes several tests to compare results from the EpanetSimulator and the WNTRSimulator.  The threshold for acceptable absolute deviation is 1e-3 to 1e-5 (depending on the variable), we use a relative error of 1e-3, though it is often quite smaller.

When using the EpanetSimulator, you can set wn.options.solver.accuracy.  Thi

[2020-04-24 14:26] tyjchen opened #135 "plot_network function does not scale colorbar based on link values, only node"
I was trying to plot some link attributes using the plot_network() function from the wntr.graphics.network module, but notice that the colorbar setting only changes for nodal attributes and not links.
Specifically, when I set node_attributes to none and try to plot the data in link_attributes, the colorbar is only displayed to range between 0-1 no matter what. Is there any way around this?

[2020-04-25 15:00] carlos-p14 opened #136 "Value Error using Sensor Placement Algorithm"
I'm having some trouble testing the sensor placement algorithm. When I tested the files Net1.inp and Net2.inp everything went fine, but when I changed to my network, which is a little bit bigger than the other two (dunno if this is relevant), something wrong happened. The error message was "ValueError: zero-size array to reduction operation maximum which has no identity".

What should I do to solv

[2020-04-27 20:49] kaklise commented on #136
Do you know if the simulations created the data needed for the sensor placement optimization? Can you send the stack trace?

[2020-04-27 22:15] carlos-p14 commented on #136
To be honest, I don't know what the algorithm has created, but the
procedure was very similar to the other one examples. It printed all the
nodes names, but when it was supposed to print the network with the sensors
placed, the error message appeared.

I don't how I could send you the stack trace, but I can send you the
network I'm working on and the algorithm I´m using too (even though I have
jus

[2020-04-28 18:30] kaklise commented on #136
Feel free to send the network file.  I also suggest reviewing the sensor placement documentation at https://chama.readthedocs.io to better understand the requirements.

[2020-04-29 13:32] carlos-p14 commented on #136
Okay, so this is the network I'm using.

I appreciate your colaboration and thank you very much for your attention
and the link, it will be very helpful :).

Em ter., 28 de abr. de 2020 às 15:31, Katherine Klise <
notifications@github.com> escreveu:

[2020-05-03 14:23] 1-1-2 opened #137 "[BUG Report]Function "assign_demand" doesn't work"
I was following the [instrution](https://wntr.readthedocs.io/en/latest/waterquality.html#using-pdd) and found that the function didn't work as expected. The node demands didn't make any change, while the new pattern was added to the network model.
In this function, it check if the node has attribute "demands",  which a junction nor other node doesn't have(maybe in the old version it had?).
[code]

[2020-05-03 15:14] 1-1-2 commented on #137
Here's the code i think it might be right.

[code]

+ change 1:

[code]

Cause the "demand_multiplier" may not be set 1.0 in the network model. Yeah, i happen to using a not 1.0 network model and it confuse me for a whole hour for wrong demand result.
A better solution maybe add a switch to the function and set to True by default. Or it maybe an float and set 1.0 by default.

+ change 2:

[code]

[2020-05-07 19:12] kaklise commented on #136
The file was not attached.  Feel free to email the file to kaklise@sandia.gov.

[2020-05-08 19:19] kaklise commented on #136
Changing the INP time option to use a simulation duration longer than 0 resolved the issue.

[2020-05-08 19:19] #136 closed

[2020-05-08 19:24] kaklise commented on #137
Thanks for pointing this out.  I agree that this function needs to be updated to use the demand timeseries list and use the demand multiplier.  I'll try to get this integrated into the master branch soon.

[2020-05-08 21:15] kaklise commented on #135
Can you include a simple example, perhaps using one of the networks in the example folder?

[2020-05-12 14:51] JremySch commented on #135
I have the same request.
The option _link_range=[]_ change the scale color in graphic but doesn't change the scale of colorbar. The code below use the Net3.inp as you request.

`import wntr
import matplotlib.pyplot as plt
# Create a water network model
inp_file = 'networks/Net3.inp'
wn = wntr.network.WaterNetworkModel(inp_file)

# Simulate hydraulics
sim = wntr.sim.EpanetSimulator(wn)
results = si

[2020-05-12 14:55] JremySch commented on #135
I have the same request.
the code below use the example Net3.
[code]

[2020-05-12 15:23] kaklise commented on #135
Thanks.  This is a NetworkX issue, see https://github.com/networkx/networkx/pull/3698.  Looks like the fix will be included in the NetworkX 2.5 release.  I'm not sure what their release schedule is.  If this is an issue, we can think about adding a patch in WNTR.  If you clone NetworkX from GitHub, you should get the following figure.
![Figure_1](https://user-images.githubusercontent.com/17935331/

[2020-05-12 16:37] #137 closed

[2020-05-12 16:40] JremySch commented on #135
Thanks. I just cloned the networkX (version 2.4) from Github using Python 3.7.6. I run your code from #3698 and I get the same issue as in the figures below.

![Figure_1](https://user-images.githubusercontent.com/63313855/81720946-608f8f80-947f-11ea-8845-e6c0bf87d8e0.png)

![Figure_2](https://user-images.githubusercontent.com/63313855/81720970-684f3400-947f-11ea-9da8-21db17aa72a3.png)

[2020-05-12 16:51] kaklise commented on #135
The NetworkX updates are currently in master, and not part of a tagged release.  Until the next NetworkX release, we should probably include this in WNTR.

[2020-05-12 17:01] JremySch commented on #135
I fixed it. I added the two lines of code by hand in the networkx/drawing/nx_pylab.py file. I don't know why when I cloned I didn't get the same result. Thank you again.

[2020-05-12 21:24] jjstickel opened #140 "python-3.8 support"
I tried using with python-3.8 on Mac (using setup.py to install). When importing `wntr`, I get the error:

`ModuleNotFoundError: No module named 'wntr.sim.aml._evaluator'`

Browsing the sources, it looks like this might be due to the absence of the file `wntr/sim/aml/_evaluator.cpython-38m-darwin.so`, and so I presume python-3.8 is not yet supported? How would that file be generated?

[2020-05-14 17:34] kaklise commented on #140
We hope to support Python 3.8 soon.  There are two steps: updating the conda-forge build for the aml module and then updating the travis config to run the 3.8 tests.  When we looked at this a while back, some of the dependencies did not support 3.8, but that has probably changed.  We'll try to look at this again soon.

[2020-05-14 17:39] jjstickel commented on #140
OK, thanks for the update.

[2020-05-18 20:10] hrudayv opened #141 "EPANET Error 200"
Hi,
I'm a civil engineering undergrad student with a beginner's knowledge in programming.  I have been generating a list of random diameters in an other piece of code and parallel y sendiing them to this code where it sets the diameters and runs the code again to see if the pressures in the nodes are positive.
`import wntr
def change(dia2):
    inp_file = 'C:/Users/pc/Anaconda3/Lib/site-packages/e

[2020-05-19 19:39] kaklise commented on #141
I suggest looking at the INP file that is created by the EpanetSimulator (this occurs when you call run_sim and the file will be called temp.inp) to see what the diameters are.

[2020-05-20 11:44] afmurillo commented on #121
Sorry, forgot to comment again on this. What worked for us was removing and adding a new control each time the actuator state should be changed. Thank you for the great work!

[2020-05-20 11:44] #121 closed

[2020-05-25 11:25] hrudayv commented on #141
It worked. Thank you!

[2020-05-25 11:25] #141 closed

[2020-05-29 20:59] nando1988 opened #142 "Set diameters with epanettools, from a csv"
I am trying to set the values of the diameters in a inp file, and save them to another file.
I ran the code and compared the diameters, and it seems that only the first one changed and it didn't change to the value I set in the csv.
Can someone please help me with this issue?
Thanks.

`
#importar dependencias
import PySimpleGUI as sg
from  epanettools.epanettools import EPANetSimulation, Node, Lin

[2020-06-02 14:16] kaklise commented on #142
I suggest posting this issue on the epanettools GitHub page

[2020-06-02 14:16] #142 closed

[2020-06-14 20:41] kalebsm opened #143 "EPANET 2.2 support"
Hello all,
I was wondering with the recent release of EPANET 2.2 GUI now with pressure driven demand (https://www.epa.gov/water-research/epanet) if anybody was working on updating WNTR to work on the dynamic link libraries, etc of EPANET 2.2. Specifically, I have a code that uses run_sim in the wntr.sim.epanet module, and it would be nice to use the same process to run on EPANET 2.2 with pressure

[2020-06-15 01:00] dbhart commented on #143
Hi Kaleb. EPANET 2.2 support is on the process of being pushed up into the release branch. In the meantime, the changes you are requesting have already been implemented in the epanet22 branch in my fork (dbhart). Documentation has been updated, and testing is passing. If you run across any bugs, please let is know.

- Dave Hart, Sent from my iPhone

On Jun 14, 2020, at 2:41 PM, kalebsm <notificati

[2020-06-15 16:19] dbhart commented on #143
Also as a heads-up. In the upcoming epanet22 integrated release of wntr, we have renamed some of the options within the WaterNetworkOptions class to be consistent with epanet22 as well as adding in the binaries. A “version=2.2” option has been added to the EpanetSimulator.run_sim() command, but the default will be EPANET 2.2 in the future (and will be on my (dbhart) fork/branch within a few minute

[2020-06-19 07:28] balks opened #145 "base_value must be a number"
I'm trying to set the base_head on a reservoir to the average value from a simulation. Turns out that a numpy.float32 (from the results.mean() ) is not accepted by the @base_head.setter, so I have to convert to float first.

r.base_head = res.node['head'][rid].mean() --> ValueError: TimeSeries->base_value must be a number
Error in wntr\network\elements.py", line 1221, in base_value

wntr.__version

[2020-06-19 07:38] balks commented on #77
This is still not working for me, even after removing all demands from all nodes with . clear()

[code]

workaround is to write a temporary inp file and load it again (be aware that every node has a standard demand of 0 now):

[code]

[2020-06-19 16:01] dbhart commented on #145
@balks – thank you; I agree this should not be an error, though many packages have problems with numpy dtypes not being recognized as numbers…

[2020-06-22 01:45] jeongsoo0908 opened #146 "Method for calculation of Betweenness centrality"
I have a question about calculating the betweenness centrality.
If you look at the manual or the explanation on the website, it says that we can consider the weight when calculating the betweenness centrality.

ex :  >>> length = wn.query_link_attribute('length')

If the weight of the flowrate is set as the weight for calculating the betweenness centrality, it is expected that the code can be writ

[2020-06-22 14:10] kaklise commented on #146
The NetworkX betweenness_centrality function includes an input parameter to use weight, but the default value is None.  To use the weights , you need to include the edge weight name , in this case``nx.betweenness_centrality(G2, weight="weight")``

[2020-06-22 14:35] jeongsoo0908 commented on #146
Thank you for your answer.

In my case I would like to consider the flowrate as a weight to calculate the betweenness centrality.
According to you, after performing the PDD analysis, I understand that weight can be flowrate.

But, I've already done what you mentioned.(nx.betweenness_centrality(G2, weight="weight"))
ex : nx.betweenness_centrality(G2, weight="flowrate", modify_direction=True)

[2020-06-22 19:17] kaklise commented on #146
I think the problem is with MultiDiGraphs.  NetworkX betweenness_centrality used to operate on MutliDiGraph (the object type returned by WNTR get_graph) but recent updates in NetworkX do not allow for this.  I'm surprised that an error is not thrown, but I was able to reproduce the issue you're seeing where the calculation is the same with and without weights.

The following example produces diffe

[2020-06-23 15:59] jeongsoo0908 commented on #146
If the weight is set to flowrate when calculating the Betwiness centrality, it is expected that the cutting point located in front of the drain will be of the highest importance.
However, the results are located in the center, so I would appreciate it if you could explain why.

[2020-06-25 14:38] kaklise commented on #146
I suggest stepping through the algorithm, documented on the NetworkX site: https://networkx.github.io/documentation/stable/reference/algorithms/centrality.html#shortest-path-betweenness. NetworkX also includes functions for edge betweenness centrality and betweenness centraility using specific sources and sinks, which might be of use.

[2020-06-29 20:50] kalebsm commented on #94
I have am currently getting a similar ValueError as described above. I do not have a damping limit in my INP file, and would probably prefer to keep the damping effect at its default. Is there any other reason why I might be getting this error? Here is my Traceback:

File … \Anaconda3\lib\site-packages\spyder_kernels\customize\spydercustomize.py", line 827, in runfile
    execfile(filename, namesp

[2020-06-29 20:52] kalebsm commented on #94
Since this is a similar question to the one already closed, I wasn't sure whether or not to create a new issue or attach to this one, so I will wait a day and then create a new issue if I don't hear anything.

[2020-07-02 02:44] TralhaDoBruno opened #148 "Speed up simulation run time"
Hello, I don't know if I should ask this question here since it is possible not an issue but here it goes:

I must develop two pressure sensitivity matrix, which requires a considerable number of hydraulic simulations (213 674 hydraulic simulations in total). The hydraulic model has 4429 Nodes and 4474 Pipes. There are about 2200 individual node demand patterns and a 24h period (1h each step).

I'

[2020-07-02 15:12] JoseVinicius1998 opened #149 "EPANET Error 200 - I need to do many Iterations"
Hello, I'm a student of electrical Engineering and I'm making a algorithm of optimization for calibration of a WDS. However,
I am not able to do iterations, it always gives the error 200, in the method "run_sim()".  It's like he can only iterate. How Can i solve this problem?

Note: I call a function inside the loop that does the simulation

[2020-07-02 15:45] dbhart commented on #148
So, the short answer is that yes, Python is slower than Matlab (in general).

The longer answer is: I'm not sure why the EpanetSimulator is that much slower. The WNTRSimulator will be slower, always, but the EpanetSimulator should not be factors of n longer (maybe 125% of the Matlab time, but not 300%).

That said, we are in the process of releasing an update to WNTR that includes the EPANET 2.2 l

[2020-07-02 15:48] dbhart commented on #149
EPANET error 200 means there are errors in the INP file. I would look in the .rpt file that is created to try to find the errors, or try to load it into the EPANET GUI to see if it will tell you where the error is.

[2020-07-02 16:32] TralhaDoBruno commented on #148
Thank you for your reply!
I will check the updated branches.
Nonetheless, and since I'm aiming at reducing the simulation time, do you recommend me to run the simulations using directly the EPANET toolkit in C?

Thank you once again for your help!

[2020-07-02 16:41] dbhart commented on #148
Running in C/C++ is obviously going to be the fastest way, but using C/C++ with the toolbox is, obviously, a much higher overhead since you have to write and compile C code. I would actually suggest that you use parallel processing if possible – most machines are sufficiently multi-threaded that you can use the multiprocessing tools in Python to launch multiple simulations at once. I believe there

[2020-07-02 16:57] TralhaDoBruno commented on #148
Thank you for the prompt reply. It has been a great help!

I will look for the example and try both suggestions.

[2020-07-02 18:52] JoseVinicius1998 commented on #149
Thanks very much dbhart. Your tip was valuable. The problem was some negative roughness after the first iterate to my algorithm. Your help was providential. Thanks so much!!!

[2020-07-02 18:53] #149 closed

[2020-07-03 17:08] TralhaDoBruno commented on #148
I've looked in the repository and I couldn't find the example you mentioned regarding parallel processing.
I'm trying to parallelize each timestep (of a 1h steps across 24h) to different processors but I'm having some difficulties and the example would surely be a great help.

Thank you once again !

[2020-07-03 18:36] JoseVinicius1998 opened #150 "Error 305 - I need to do a lot of iterates"
Hello, I'm a student of electrical Engineering and I'm making a algorithm of optimization for calibration of a WDS. However,
I am not able to do many iterates, it always gives the error 305. It's like he can only limited iterates. How Can i solve this problem? Is there a workaround for this?

[2020-07-05 06:53] GalPerelman commented on #150
Hi,
Error 305 stands for "cant open the hydraulic file" (inp file), see [here](http://epanet.de/documentation/errorcodes.html.en) for error codes
Does the inp file is changed throughout your simulation?
Do you close open files after every iteration?

[2020-07-05 18:10] kaklise commented on #148
The CriticalityMaps package, https://github.com/pshassett/CriticalityMaps,  uses WNTR and includes multiprocessing.  I suggest looking at the example mentioned in #132.

[2020-07-05 18:16] kaklise commented on #150
I believe this is related to issue #115 and should be resolved using EPANET 2.2.  The dev branch of WNTR now supports EPANET 2.2.  We plan to merge this into master and tag the release later this summer, but it is ready for use now.

[2020-07-06 09:38] TralhaDoBruno commented on #148
Thank You so much kaklise, I will check the Criticality Maps package.

[2020-07-06 17:00] kaklise commented on #143
The dev branch now supports EPANET 2.2.  The [release notes](https://github.com/USEPA/WNTR/blob/dev/documentation/whatsnew/v0.2.3.rst) include instructions and code updates.

[2020-07-06 17:20] kaklise commented on #140
The dev branch now supports Python 3.8.  The [release notes](https://github.com/USEPA/WNTR/blob/dev/documentation/whatsnew/v0.2.3.rst) include additional information on code updates.

[2020-07-06 18:35] #143 closed

[2020-07-06 19:22] dbhart commented on #148
Yeah, I looked again and apparently that example was removed some time back (we were cleaning things up). I’ll see if I can find a copy of it, but in the meantime, I suggest looking at examples for the Python multiprocessing package.

As for parallelizing each timestep, I’m not sure that will work the way you would like, since, even though each timestep is a steady-state calibration, the boundary

[2020-07-15 19:27] JoseVinicius1998 commented on #150
Hi,
Thank you very much for the suggestions. So, i solve my problem updating the version of my python. Now, I'm using the python 3.8.1 with epanet 2.2 as well.

[2020-07-15 19:27] #150 closed

[2020-07-21 21:00] kalebsm opened #154 "Cleaning up .inp file from InfoWater or similar proprietary program for use in PDD WNTR simulation"
This is a generalized question for some specific issues I am having with an .inp file consisting of a large network. This .inp file was probably converted from a gis based hydraulic modeling program. The specific issues I have are with controls being misread and the simulation failing to converge (determined after removing all controls to see what the next issue would be).
1) Before going into the

[2020-07-22 12:17] yejustme opened #155 "How to avoid generating these strange files?"
When I tried to run the WNTR many times, every thing is OK except that  it generates these strange files. How to avoid this ？
![QQ截图20200722201139](https://user-images.githubusercontent.com/15081527/88175300-45e44e80-cc58-11ea-8391-02cf76bb8c06.png)

[2020-07-24 01:18] kalebsm opened #156 "Creating a directed acyclic graph using flow direction as a weight (networkx)"
I am trying to create a directed acyclic graph using the flow direction as a weight. There is an example of using flow rate as the weight in the resilience metrics section of the documentation (https://wntr.readthedocs.io/en/latest/resilience.html). However, taking the approach in the example results in dataframe with columns time and flow_rate as the weight instead of a single value (see example

[2020-07-25 17:19] kaklise commented on #154
I have not run into this issue before, with large networks or with INP files converted from proprietary software.  We often clean up file formatting issues by loading the INP file into the EPANET GUI and then exporting a new INP file.  If that doesn't work, then I'd be happy to look into the issue but would probably need the INP file to debug.  If you can share the file, you can send it  to me dir

[2020-07-25 18:13] kaklise commented on #156
The example should be updated to use ``G = wn.get_graph(link_weight=flowrate, modify_direction=True)``.  This will swap the start and end node for flowrates that are negative and create a graph that represents flow magnitude and direction.  Let us know if that solves the issue and we'll update the example.

[2020-07-30 17:38] kalebsm commented on #154
I've tried to load and export a new INP file but that does not seem to work. Unfortunately, I cannot share the INP file, and the process I am using through the PDD simulator utilizes the leak model, which is not utilized in EPANET 2.2 and therefore I think wouldn't work on the dev branch either (if I understand correctly).

Recently, I have tried to neglect convergence error and tried to utilize s

[2020-07-30 17:56] kalebsm commented on #154
Maybe I'm trying to solve the wrong problem first. This is the error concerning the controls that I am getting.

Traceback (most recent call last):

  File "<ipython-input-1-5b915d2c2169>", line 1, in <module>
    runfile('PDD_test.py', wdir='HydraulicSimulation')

  File "Anaconda3\lib\site-packages\spyder_kernels\customize\spydercustomize.py", line 827, in runfile
    execfile(filename, namespac

[2020-07-30 18:37] kalebsm commented on #154
I've been looking the the controls.py code and it may be that my controls might not be written correctly for the WNTR rules. For instance it says "Words, such as 'below', are only accepted from the EPANET rules conditions (see ...)". I think the brackets are missing some information. Does this mean a 'below' statement is only accepted in the EpanetSimulator and not the WNTRsimulator?

I have a num

[2020-08-03 18:32] kalebsm commented on #156
I think there are some problems with the modify_direction setting. I've gone through the source code for the wntr.network.model (https://wntr.readthedocs.io/en/latest/_modules/wntr/network/model.html#WaterNetworkModel.get_graph) to figure out how the graph gets constructed when modify_direction = True.

Over the course of a simulation, such as in the example I showed up top, the flowrate object ex

[2020-08-06 12:19] michaelbynum commented on #120
If installing with pip does not work, I recommend installing with conda. If conda is not an option, you can always clone the repo and build the package manually. You will just need a compiler. All you need to do is modify `setup.py` and set `build = True`. Then run `python setup.py install`.

[2020-08-06 19:41] dbhart commented on #155
Well, none of us have seen this behavior before. When EPANET crashes, it sometimes leaves files prefixed with "en", for example, "enSJFALS". But nothing "s64...".

Can you give more information regarding operating system, hardware, etc. that you are using? And what you are trying to do with WNTR (if you can give that type of info out).

[2020-08-12 20:11] kalebsm commented on #120
Thanks Michael, I am finally attempting to figure this particular problem out. Sorry for the confusion, I forgot about dbhart comment about leaving this issue open, and had moved on to use wntr in a different environment. Now I am trying again to get it working in this linux environment.

To continue based on your comments regarding setup.py:

I modified setup.py and set build = True, then ran the

[2020-08-12 21:16] bernardoct opened #157 "Can't change PRV settings after importing inp file"
I'm trying to load an inp file and change the settings of its PRVs in python prior to running the hydraulic solver. The I'm having is that the results do not change after setting the pressure to 0 or 500 from the 55 in the inp file. I did see changes in results when changing pipe diameters but not PRV settings. I also noticed that the temp.inp file comes out with the original PRV setting, even tho

[2020-08-13 14:21] bernardoct commented on #157
I think I found the issue. I'll test the my fix and submit a pull request in the coming few days.

[2020-08-20 08:52] jermaine1ronquillo commented on #157
I am also trying to change the settings of TCV valves after importing my inp files, but when running the model using the EpanetSimulator the result is still based on the settings of the inp file, but switching to WNTRSimulator seems to work fine

[2020-08-23 17:38] mzare47 opened #158 "How to define time to repair in wntr?"
Hi,
I'm new in wntr. I'd like to run a 'Use Case: Earthquake preparedness' on my network model. The algorithm is:
1-Generate a water network model
2-Define fragility curves for failure and available resources for recovery
3-Simulate PGA and PGV from an earthquake
4-Modify the network based fragility curves and available resources
5-Run a hydraulic and water quality simulation
6-Compute WSA and pop

[2020-08-24 15:16] kaklise commented on #157
[PR to sandialabs/WNTR](https://github.com/sandialabs/WNTR/pull/3) been merged with USEPA/WNTR.

[2020-08-24 15:16] #157 closed

[2020-08-24 15:18] #101 closed

[2020-08-24 15:19] kaklise commented on #135
The recent release of NetworkX 2.5 resolves this issue.

[2020-08-24 15:19] #135 closed

[2020-08-24 15:20] kaklise commented on #140
The master branch now supports Python 3.8

[2020-08-24 15:20] #140 closed

[2020-08-25 18:09] jwlevis opened #160 "AttributeError: 'numpy.float64' object has no attribute 'last_node'"
I am trying to simulate a system using the WNTRSimulator.

My .inp file works in EPANET and using the EpanetSimulator in WNTR.

However, when I run it with the WNTRSimulator, I get the following warnings and error:
[code]

Here is the current code:
[code]

[2020-08-31 10:50] dionikolop opened #161 "MASS option units"
Hello,
I could not find information about the MASS option units for quality simulation. The documentation states "MASS source represents a booster source with a fixed mass flow rate". Assuming SI units, the strength should be kg per second, is that correct?
If so, with the following pattern:
[code]
and this source:
`wn.add_source('Source', 'some_node', 'MASS', 1, 'SourcePattern')`
We should have i

[2020-09-02 08:17] #161 closed

[2020-09-03 15:22] todorGaidarov opened #162 "Problem loading Water Network Model from EPANET 2.2"
Hi
I'm trying to load water network model created with EPANET 2.2 using the following line:
[code]
Unfortunately I got this error:
[code]

And tanks section in the .inp file looks like this:
[code]

It has 9 fields and I guess this is what breaks it.

[2020-09-04 02:40] Sabrinasc360 commented on #150
Olá José, eu estou com o mesmo problema que o seu. Você conseguiu resolver? se sim, me conta como?

Hi José, I have the same problem as yours. Did you manage to solve? if so, tell me how?

[2020-09-04 07:44] GalPerelman commented on #162
Hi @todorGaidarov
Where does the "Overflow" column come from?
Usually, TANKS section has only the first 8 columns

[2020-09-04 09:08] todorGaidarov commented on #162
Hi @GalPerelman
The "Overflow" column comes from EPANET 2.2 I think.
I am attaching the screen from EPANET with the tank property marked in red.
I've just removed the column as a workaround so that I can load the network.

![overflow_whole_screen_marked](https://user-images.githubusercontent.com/17799696/92221966-f2942b80-eea6-11ea-8b56-f228f85bedd3.png)

[2020-09-04 09:24] JoseVinicius1998 commented on #150
Oi Sabrina. Resolvi mais ou menos. Eu pensei ter resolvido utilizando as versões de python e epanet que disse acima. Mas após várias "brincadeiras" eu meu código, percebi que não. Mas um jeito que funcionava sem problemas era quando se deletava todos os aquivos gerados pelo python antes de cada rodagem do código, mas não era sempre que funcionava. Se descobrir outra forma ficarei grato também.

Hi

[2020-09-04 09:41] GalPerelman commented on #162
You are right, this is a new feature of the 2.2 version
Might be that wntr is still not supporting this option

[2020-09-04 16:20] dbhart commented on #162
Yes, this is a new feature. It is not well documented in the EPANET 2.2 documentation. However, we are doing a fix right now for the “dev” branch of WNTR, which has EPANET 2.2 support. I will post again when it has been fixed.

[2020-09-08 19:01] dbhart commented on #162
I believe this is now fixed in the “dev” branch.

[2020-09-11 07:17] todorGaidarov commented on #162
HI,
I won't be able to test it right now, but I believe the issue is fixed and will close the issue.

[2020-09-11 07:17] #162 closed

[2020-09-23 19:54] bernardo-suez opened #165 "Problem importing results bin file"
If a simulation is called with duration that is not a multiple of the report time step, WNTR seems to try to import results going to the next full multiple of the report time step, which causes problems when reshaping the binary array into a dataframe in [io.py, line 2790](https://github.com/USEPA/WNTR/blob/c2d3b70c65cc938fb3d19de8a730c23c43859843/wntr/epanet/io.py#L2788). Below are the times for

[2020-10-13 07:38] chocolate-771 opened #166 "Demand-driven simulation"
In Pressure dependent demand simulation, if the nominal and minimum pressure of each node are different, can they be set separately?

[2020-10-14 16:46] kaklise commented on #158
I assume you plan to add leaks based on the values in `val` (major leak, minor leak, no leak). You can define the start and end time for each leak using the `add_leak` method.  See https://wntr.readthedocs.io/en/latest/disaster_models.html?highlight=add_leak#pipe-breaks-or-leaks for an example.

We have an Jupyter notebook in the examples/demo folder for earthquakes, but I believe it is out-of-dat

[2020-10-14 16:55] kaklise commented on #160
After reviewing the INP file from @jwlevis, I believe the curve fit error has been resolved on the dev branch.  However, the WNTRSimulator fits the multipoint curves to the same form as a 3-point curve and that is causing some discrepancies in the simulation results.  We'll continue to look into this issue, but recommend using the EpanetSimulator with PDD for this case.

[2020-10-14 17:25] kaklise commented on #166
That is correct, when using the WNTRSimulator the nominal and minimum pressure can be set independently for each junction.  A small example is included in the following section of the documentation, https://wntr.readthedocs.io/en/latest/hydraulics.html#pressure-dependent-demand-simulation

[2020-10-15 01:00] chocolate-771 commented on #166
thank you for  reply, I get it.

[2020-10-15 04:26] algchyhao opened #167 "The repair process introduces new leak nodes and pipes, will this increase the HeadLoss of the overall network?"
When the number of leaked pipes is quite large, after all pipes repaired, the pressure in the whole network is lower than nomal state. Can't find out the reason.

[2020-10-15 16:04] kaklise commented on #167
This should not have an impact on headloss across pipes.  When splitting each pipe using `wntr.morph.split_pipe`, this adds a node and pipe to each original pipe, but headloss in the system remain the same.  If you are adding and removing leaks, this should also have no impact.   If the leak ends and the system controls have changed, this can impact headloss .  The code I used to test this out is

[2020-10-16 03:43] algchyhao commented on #167
Thank you kaklise for the prompt reply. I am trying very strong earthquake which causes over half of the pipelines fails. After all the pipelines got recovered, the overall pressure in the network is still obviously lower than that subjected to minor earthquakes. The pumps are all working. What could be the causes please? I using PDD mode. If there is no more leaks, the pumps should be powerfull e

[2020-10-16 18:26] kaklise commented on #167
As long as the tanks are able to fill and there are no other controls limiting pressure in the network, then I agree that pressure should be recovered after the leaks are fixed.   I'll double check that the leak controls have no impact once the leak ends. If you're able to share an example, that would be helpful.

[2020-10-16 18:26] #166 closed

[2020-10-18 16:41] algchyhao commented on #167
Hi kaklise,

You are correct, I missed some damaged pipes that should be fiexed. Just a question before cloing the comment, why there are pipes with leaked_demand a very small negative number, i.e. -10^(12), is this caused by numerical error? Thanks.

[2020-10-19 18:02] TimothyVD opened #169 "Updating status of link not kept when writing INP file"
Hi,

Is it correct that a status change of a valve (e.g. overwriting linkstatus to "Closed") is not kept when using the EpanetSimulator?

If I try to change the linkstatus, it seems successful:
[code]
What yields what I would expect:
[code]
However, when running the EpanetSimulator or writing the file, this linkstatus update is gone:
[code]
I can currently overcome the issue above by manually addi

[2020-10-21 15:12] kaklise commented on #167
Very small negative pressures are caused by numerical error.

[2020-10-22 18:08] #167 closed

[2020-10-22 18:24] dbhart commented on #165
So you are correct - you are always supposed to use a multiple of the report timestep for duration; EPANET will not report any data beyond the last report step. The last "junk" numbers are in fact the final checksums for an EPANET binary file.

If I understand, you are suggesting using a floor function to handle this case where the simulation runs past the final report step? So that we would round

[2020-10-22 18:27] dbhart commented on #165
Ah - no, in io.py, line 2693 is where the change would need to be made. That's a bug.

[2020-10-22 21:44] dbhart commented on #165
This has been fixed in the dev branch now.

[2020-10-23 12:55] bernardo-suez commented on #165
@dbhart you're right, that should allow for a much cleaner solution. Thanks for looking into this.

[2020-10-30 15:50] #165 closed

[2020-11-02 14:11] edalopezga commented on #117
is This problem solved? otherwise this model does not solve PDD equations.

[2020-11-02 16:25] dbhart commented on #117
Hi @edalopezga this is resolved. We're trying to go through past issues and close them. Also, the most recent version has been completed and will be tagged as a release this week, which contains both the WNTR simulator and the new EPANET 2.2 PDD simulator as well.

[2020-11-02 16:38] kaklise commented on #117
I believe we did not close this issue because this demonstrates cases where models are not well scaled which can cause convergence errors.  The cases described above change units conventions in the INP file without changing the actual model values.  This can create models that are very difficult to solve and we're using these to test edge cases.  Now that WNTR includes EPANET2.2, we can test out t

[2020-11-02 17:10] Jvss commented on #117
Although I was working on this problem quite a while back (the epanet 2.2 not yet released), I found out that if I changed the headloss formula from DW to HW (hence I needed to change all my pipe roughness as well), this solved the issue. I hope this helps.

[2020-11-03 20:51] kaklise commented on #117
Thanks @Jvss, I'll go ahead and close this issue.

[2020-11-03 20:51] #117 closed

[2020-11-04 16:10] thyagonaves commented on #150
Olá. Infelzimente estou com o mesmo problema, rodando processo de otimização e em determinada iteração tenho o erro 305. Alguém conseguiu solucionar?

Hello. Unfortunately, I have the same problem, running the optimization process and in a given iteration I have error 305. Has anyone managed to solve it?

[2020-11-04 16:15] kaklise commented on #158
The earthquake demo has been updated to use the latest version of WNTR.  This includes leak repair time, which can be set by the user.

[2020-11-04 16:15] #158 closed

[2020-11-04 16:16] thyagonaves opened #174 "EPANET error 305 during optimization"
Hello, I'm running an optimization process in which every iteration there is an EPANET solver, but in any iteration the error 305 happens and I lose the optimization. To run the script again I have to close Spyder, and start the process again, but error 305 appears again at a certain time.

I've tried to force the saving of EPANET temporary files and it still didn't work:
             sim.run_sim(

[2020-11-04 16:20] kaklise commented on #174
Are you using the latest version of WNTR (version 0.3.0)?  I believe this issue has been resolved now that the EpanetSimulator can use EPANET 2.2.

[2020-11-04 16:25] kaklise commented on #160
Since the original issue has been resolved - using an updated curve fitting function in WNTR - I will close this issue.  We are still investigating the specific network model that @jwlevis is working with to identify WNTRSimulator convergence issues.

[2020-11-04 16:25] #160 closed

[2020-11-04 16:34] kaklise commented on #115
This issues has been resolved with the addition of EPANET 2.2 in WNTR.

[2020-11-04 16:34] #115 closed

[2020-11-04 19:13] kaklise commented on #53
While we were not able to reproduce this error, we suspect that the issue has been resolved with the use of EPANET 2.2 in WNTR.  If this is not the case, the issue can be reopened.

[2020-11-04 19:13] #53 closed

[2020-11-08 09:08] yejustme commented on #155
Thanks. But after I upgrade the WNTR to the newest 0.3.0 version, it seems that WNTR no longer generate these files.

[2020-11-08 09:08] #155 closed

[2020-11-08 18:09] dionikolop opened #175 "EPANET 2.2 Unbalanced hydraulics results"
Hi,
I am running a parallel bunch of simulations with different quality parameters using the multiprocessing library. I use the EPANET 2.2 solver with the PDA option. In some simulations (randomly) I get strange results, which are the outcome of unbalanced hydraulic simulation. I did some tests with the EPANET GUI and confirmed it. Is there an option to check via WNTR if the results of a PDA simul

[2020-11-09 19:45] kaklise commented on #175
Since you were able to replicate the issue in the EPANET GUI, I suggest you open an issue on that site as well.  WNTR currently does not include functions to parse the EPANET report file, but that has been suggested (#46).    If you'd like to contribute that functionality, please let us know.  Otherwise, we'll keep this in mind as we're adding new features.

[2020-11-09 19:56] kaklise commented on #107
You do not need to add base demand or a demand profile to the new node.  You can add a leak to that node using the `add_leak` method, see https://wntr.readthedocs.io/en/stable/disaster_models.html#pipe-breaks-or-leaks for a small example.

[2020-11-10 15:48] #132 closed

[2020-11-10 15:49] #134 closed

[2020-11-10 16:12] kaklise commented on #146
After using betweenness centrality for a different application, I realized that flowrate needs to be inverted in the example above to get the desired results.  Betweenness centrality is a measure of shortest paths that pass through a node.  To make sure that high flowrate correlates with short paths, you can use 1/flowrate as the weight. In the example above, you could define G as follows.
`G = wn

[2020-11-10 21:59] dly9000 opened #176 "Valve Layer"
This is more a question than an issue, but can the valve layer be populated by the valves within an imported .inp file?

[2020-11-10 22:14] kaklise commented on #176
WNTR doesn't have a function to create a valve layer from the water network model, that's a good suggestion.  If you know which node the valve protects (start or end node), you could use something like this.
[code]

[2020-11-12 20:39] #146 closed

[2020-11-12 20:40] #107 closed

[2020-11-12 21:05] dbhart commented on #154
Hi @kalebsm I'm sorry this has taken so long to respond. I'm not sure why this isn't working for PDD, but I'm working on it.

[2020-11-12 21:11] dbhart commented on #154
So, Net6.inp in the examples has controls in the same format as you are describing. I'm not seeing an error when I run with the most recent version of WNTR (3.0, or the dev branch). Is there a difference between your controls and the examples in that example network? I'm having trouble replicating your issue using Net6 as a base.

[2020-11-12 21:35] dbhart commented on #169
Hi @TimothyVD

There is a difference between initial_status and status, and initial_setting and setting. Changing the "status" or "setting" will change the current values on the network (useful for advancing step by step in the WNTRSimulator). Changing the "initial_status" and "initial_setting" will **also** change the current status/setting values. So I think if you use link.initial_status instea

[2020-11-17 18:51] bernardoct opened #177 "Add type checking exception to node_attribute and link_attribute arguments of plot_network"
If a Pandas DataFrame is passed as an argument to either by accident, an obscure exception from networkx saying it cannot convert something (a Pandas Series) to RGB is raised. It is difficult for the user to figure out what the problem is.

[2020-11-17 19:25] kaklise commented on #177
Thanks for letting us know.  WNTR should include more type checking in general.  We'll work on that for the next release.

[2020-11-17 19:29] kaklise commented on #175
I'm going to close this issue and keep #46 open for the report file feature request.

[2020-11-17 19:29] #175 closed

[2020-11-17 19:31] #174 closed

[2020-11-17 19:48] #102 closed

[2020-11-25 14:05] carmine1990 opened #178 "Error when processing rules for pumps using speed parameter"
When i run the .inp file with wntr library, i have this error:
" 'HeadPump' object has no attribute 'valve_type' "

Instead if i run the .inp file into epanet it work. I give you the .inp file for testing.
[35A01.zip](https://github.com/USEPA/WNTR/files/5597144/35A01.zip)

The problem is in the io.py file (epanet directory) when it try to resolve the generate_control method:
----------------------

[2020-11-26 08:30] carmine1990 commented on #178
I modified the io.py file at line 2370-2377 and now it works. I write you the edited part:
[...]
                    if isinstance(link, wntr.network.Pump):
                        value = value
                    elif isinstance(link, wntr.network.Valve):
                        if link.valve_type.upper() in ['PRV', 'PBV', 'PSV']:
                            value = to_si(self.inp_units, value,

[2020-11-28 08:02] punss commented on #169
Not sure if this is irrelevant now, but I'm having the same issue, where despite changing `initial_status` as well as `status` to Closed, the simulation doesn't run with the updated values.
This is the code I'm using in case additional context is needed.

[code]

[2020-12-01 22:00] kaklise commented on #178
Thanks for posting the issue and revised io.py file.  Feel free to submit a pull request, otherwise we'll get this integrated soon.

[2020-12-02 09:26] carmine1990 commented on #178
Thank you kaklise, i submited a pull request like you suggest me. I'm a new user on Github and i didn't know how to revise a script.

[2020-12-03 02:05] #178 closed

[2020-12-07 11:17] edalopezga opened #180 "Plot a specific node."
Hi, thanks for the tool.

I need to plot the elevations of the network, but I need to remark a specific node, maybe with another color or size, how can I do that.

[2020-12-07 17:24] kaklise commented on #180
You can specify an axes in `plot_network`.  This allows you to add additional information to the plot.  For example, the following marks a specific node on a network graphic of elevation (using Net3 as an example).
[code]
You could also plot directly on the axes using a matplotlib scatter.
[code]

[2020-12-07 22:17] edalopezga commented on #180
Thanks, it works perfectly.

El lun, 7 dic 2020 a las 18:25, Katherine Klise (<notifications@github.com>)
escribió:

[2020-12-07 23:19] #180 closed

[2020-12-08 15:53] Keramatfar opened #181 "Emitter coefficients"
Dear admin,
I would like to work with emitter coefficients as i work with them in the EPANET. The documentation is not quiet clear. Can you please guide me?

[2020-12-08 16:43] kaklise commented on #181
Emitter coefficient is a node attribute, for example:
[code]
We can improve the documentation so this is easier to find.

[2020-12-11 14:51] NightAsker opened #182 "EpanetSimulator shows error 200 when demand_model is PDD"
Hello, admin, I install wntr on linux using pip, I load the c-town inp file and do the above:

wn.options.hydraulic.demand_model = "PDD"
sim_leak = wntr.sim.EpanetSimulator(wn)
results_leak = sim_leak.run_sim()

However, the console shows the error code 200, I still do not know how to use PDD or PDA on EpanetSimulator, can you guide me through this, thanks a lot.

[2020-12-11 16:33] kaklise commented on #182
I ran through a test case using C-town was able to replicated your results.  In this case, the EPANET error code 200 is related to an EPANET limit on required pressure.  Since the INP file does not already contain a required pressure and you specify the demand model to be PDD, WNTR sets required pressure to the EPANET default value of 0.1 psi.  However, since the C-town INP file is in LPS units, t

[2021-01-13 21:43] Mottabata opened #184 "FileNotFoundError: [Errno 2] No such file or directory: 'networks/Net3.inp'"
I am new to wntr. I am trying the examples and I had the following issue
 [1] import wntr
[2] inp_file = 'networks/Net3.inp'
[3] wn = wntr.network.WaterNetworkModel(inp_file)
Traceback (most recent call last):

  File "<ipython-input-9-c37fa123a0ee>", line 2, in <module>
    wn = wntr.network.WaterNetworkModel(inp_file)

  File "C:\Users\mota\anaconda3\lib\site-packages\wntr\network\model.py", lin

[2021-01-13 22:18] kaklise commented on #184
Based on the folder where you are running this analysis, there should be folder called networks that contains Net3.inp.  Does this file and directory structure exist? If Net3.inp file is located elsewhere, you can change the relative path when defining inp_file.

[2021-01-13 22:30] Mottabata commented on #184
this is where the example file is
C:\Users\mota\anaconda3\Lib\site-packages\examples\networks\Net3.inp

[2021-01-13 23:09] kaklise commented on #184
I suggest moving the examples into a more usable space.  To make sure you don't impact your Anaconda files, I suggest downloading the examples from https://github.com/USEPA/WNTR. More information is available at https://wntr.readthedocs.io/en/stable/getting_started.html in the Note.

[2021-01-13 23:30] Mottabata commented on #184
those notes were exactly what i followed to install the additional examples from the Github link you provided.
what do you mean by a "more usable space"?

[2021-01-13 23:40] kaklise commented on #184
I suggest not storing example files in Anaconda site-packages.  A location such as C:\Users\usename\WNTR_examples would make the files easier to access.  If that folder contains networks/Net3.inp, you should be able to run the getting_started.py example.

[2021-01-18 09:16] TimothyVD commented on #169
Hi @dbhart,

thanks for the input. That did the trick when writing the file. However, what I perceived as confusing is that the when I changed the "initial_setting", the current setting remains "active". Moreover, for the "initial_setting" I was forced to use "wntr.network.LinkStatus.Closed" to close the valve, while for the "setting" I could just use "0".

@punss : I see you misspelled "initial_s

[2021-01-18 09:16] #169 closed

[2021-01-19 03:25] kalebsm commented on #154
@dbhart I am back working on this. I am still sifting through the base code for WNTR to try determine what the differences between the WNTR and EPANET simulator are that lead to this bullet point in the discrepancies section of the documentation.
![image](https://user-images.githubusercontent.com/56654036/104984031-f9e24e80-59db-11eb-8549-04a769ad13d8.png)

This is where I suspect the problem lies

[2021-01-21 21:55] #184 closed

[2021-01-29 16:04] kalebsm commented on #154
I have isolated the problem and replicated it in Net6. The original issue I posted doesn't do a good job of getting to the actual problem - I'll post what I have learned here and if you think it is a good idea, create a new issue post with a clearer question.

I believe WNTRSimulator does not know how to handle a simple control that initiates a pump action based on an individual node pressure read

[2021-01-29 17:45] dbhart commented on #154
Hi @kalebsm . Thanks for the update and information. I think you are right, here. I'm going to start going in on this, but I agree, it would be good to create a clearer issue so that the title makes more sense in case others are looking for the same issue.

Tanks!

[2021-01-29 17:48] #154 closed

[2021-01-29 17:54] kalebsm opened #185 "Control API for WNTRSimulator does not include a case for a "ValueCondition" of a Junction and its pressure (i.e. a SCADA system tied to a pressure gauge)"
I believe WNTRSimulator does not know how to handle a simple control that initiates a pump action based on an individual node pressure reading (as opposed to tank and its level, which is the case for all the simple controls in Net6). Say for example, a distribution network has a SCADA system tied to a pressure gauge at a critical junction, and at a certain pressure it triggers the pumps.

First, I

[2021-02-01 08:26] BlomTbl opened #186 "D-W headloss options"
I know that at the moment it not is possible to use the WNTRSimulator with models whet Darcy is used as headloss calculations, but all the moddels we used has a D-W roughness value. I would like to use the options available with the WNTRsimulators. Is there a schedule when this will be possible?

[2021-02-03 18:05] kaklise commented on #186
Right now, we don't have plans to support the D-W roughness coefficient in the WNTRSimulator. We can leave this ticket open to see if there is wider interest to support this feature.  Are you able to use the EpanetSimulator for your analysis?

[2021-02-04 10:35] BlomTbl commented on #186
This works for most analyzes, but I would like to use WNTR to simulate pipe leaks.

[2021-02-11 17:55] Mottabata opened #187 "Simulation did not converge. Jacobian is singular at iteration 0"
Hi,

I have been switching to do simulation using WNTR. I went through your very helpful examples and learnt so much. I have a problem that i can't get my head around. every time i use a different network other than those in the examples I keep receiving the same error "Simulation did not converge. Jacobian is singular at iteration 0". I read your previous thread on this and how nominal and minimu

[2021-02-12 16:13] kaklise commented on #187
This can be caused by several factors, including the initial conditions of the system.  Are you able to run a simulation without pipe leaks?  I'm happy to take a look at the model/example if you are able to share it.  You can email the files to me at kaklise@sandia.gov

[2021-02-12 16:33] Mottabata commented on #187
Hi Klise,

What initial conditions might have affected it? I was able to run a simulation in EPANET with no issues.

Thanks for your time and help,
MB

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Katherine Klise <notifications@github.com>
Sent: Friday, February 12, 2021 11:13:19 AM
To: USEPA/WNTR <WNTR@noreply.github.com>
Cc: Moe Bata <bata@uwindsor.ca>; Autho

[2021-02-22 18:36] seanotoole03 opened #189 "Installation and Import Failure: Missing '_evaluator' Module"
Hello,

As part of a research team, I've recently begun looking into the use of WNTR for the simulation and visualization of water networks and testbeds. However, right off the bat we've hit a stumbling block, and despite going through the standard installation process multiple times (tested pip, anaconda, and git clone/setup.py), we consistently hit the same error whenever we attempt to import an

[2021-02-22 22:43] dbhart commented on #185
So, I have finally tracked this down. The issue is not in the controls, the issue is in the WNTRSimulator. We have internal statuses for things like tank levels, etc., but did not, somehow, get one for pressure. So the Junction class doesn't have a current_pressure type parameter. Blurg. I'll see if I can get this fixed.

[2021-02-23 21:27] dbhart commented on #189
Hi @seanotoole03 . I'll look into the 3.8 issue - do you have cython installed? As for 3.6, have you tried installing six? (pip install six). It is the python2/3 compatibility package, and we still have a couple of functions that do unicode vs bytes comparisons.

[2021-02-23 21:31] dbhart commented on #189
Also, if you go here https://github.com/USEPA/WNTR/runs/1937294970?check_suite_focus=true you can expand the "Install dependencies" tab and see if there's anything you are missing. That is our build check that does windows with python 3.8

[2021-02-23 21:34] dbhart commented on #189
Is there a reason you are running 32-bit python 3.8?

[2021-02-25 02:42] seanotoole03 commented on #189
David,

No particular reason for running Py38-32, at least as far as this is concerned, it's simply the python distro I've been using most frequently on this device. Would a different distro be better? I have an older Python 3.6.4 installed as well for a related project.
All dependencies, mandatory and optional, have been installed, for both installations.
Have made sure the 'six' is installed for

[2021-02-25 12:13] TimothyVD commented on #189
Hi @seanotoole03,

I (am forced to) use Windows 10 and Anaconda, and for me WNTR runs smoothly.
In the past I encountered similar issues for a variety of python packages when I was not using the anaconda prompt. I see you are using MINGW64 (git bash prompt?) and the standard cmd, but I know from previous experience that these cmd interfaces caused issues in Windows.

Kind regards,
Timothy

[2021-02-25 15:04] kaklise commented on #189
WNTR requires 64-bit Python to run the compiled code in wntr.sim.aml and to run the epanet22 DLL.  Please let us know if moving to 64-bit Python resolves the issue.

[2021-02-25 21:24] kaklise commented on #181
Emitter coefficients are now included in the API docs.

[2021-02-25 21:24] #181 closed

[2021-02-26 04:15] dbhart commented on #185
I have added what I believe to be a fix in my personal master branch - I will be putting a push request in to USEPA/wntr/master soon.

[2021-02-27 21:39] seanotoole03 commented on #189
Timothy,

In much the same boat, although I'm not stuck with Anaconda. Good to know that the git bash interface could be part of the problem, what would you suggest using instead? Is Powershell the preferable option here?

Katherine,

I went ahead and got 3.9.2 64-bit installed, but am facing the same issue, unfortunately.
![image](https://user-images.githubusercontent.com/38194734/109401002-5012a

[2021-02-28 16:46] TimothyVD commented on #189
Hi @seanotoole03  ,

If I understand well, you are not using anaconda/miniconda on windows? In the past I ran into a lot of issues on Windows when I was not using anaconda. Probably other options are out there, but anaconda did the trick for me.

I think your issue is explained here: https://stackoverflow.com/questions/47914980/how-to-access-anaconda-command-prompt-in-windows-10-64-bit

In my spec

[2021-03-01 15:37] kaklise commented on #187
The issue here is that the WNTRSimulator is not able to determine pressure at isolated nodes.  Currently, the WNTRSimulator identifies isolated nodes by checking to see if nodes are connected to a source (tank or reservoir).  This needs to be extended to identify nodes that become isolated when an active valve is connected to an upstream closed link (for PRVs) or downstream closed link (for PSVs).

[2021-03-01 17:53] dbhart commented on #189
I believe we may not be building a Python 3.9 conda-forge binary, I will also check into that. I think Python 3.8 may be the most recent binary, in which case that would certainly be part of the issues. Sorry that this isn’t clearer; @kaklise – we might want to make something on both the rtd pages and the readme that specifies what we have built?

[2021-03-01 17:56] michaelbynum commented on #189
I'd like to fix something in the c++ extension. We can get builds for 3.9 at the same time, and accomplish two things at once.

[2021-03-02 00:17] #185 closed

[2021-03-02 00:17] kalebsm commented on #185
Thank you David Hart (@dbhart). I appreciate the help.

[2021-03-02 18:17] dbhart commented on #45
@kaklise I believe this is ready to be closed.

[2021-03-02 18:17] dbhart commented on #56
@kaklise I think this issue can be closed

[2021-03-03 21:52] seanotoole03 commented on #189
Timothy,

Running from Anaconda seems to call Python 3.7.2, which fixes the import problem from the standard Python command line. Thanks for the great suggestion.
Unfortunately, it looks like part of my problem might be tied up in the requirement that the overarching program runs using 'fbs run', which is still limited to Python 3.5-3.6, and for which the config files seem to be non-functional in

[2021-03-04 20:42] xiaofz opened #192 "No module named 'wntr'"
Hi, I tried to install WNRT library on my computer (win 10, python 3.8 and Spyder).

Tried
pip install wntr  and
conda install -c conda-forge wntr
There are no error during installation process.

But when I import wntr in Python, I got "ModuleNotFoundError: No module named 'wntr'" error.

I also tried download the zip file and edited the setup.py and build = True.
![Capture](https://user-images.gi

[2021-03-04 22:32] xiaofz commented on #192
After re install the anaconda, problem solved.

[2021-03-05 01:13] chocolate-771 opened #193 "Pressure dependent demand simulation"
How to understand"By default, the each junction’s required and minimum pressure is set to None and the global value in the hydraulic options are used."

What is the global value in the hydraulic options? Do I need to set this myself?

[2021-03-05 16:04] dbhart commented on #193
If you have the following ``wn = wntr.network.WaterNetworkModel()`` then,

``wn.options.hydraulic.minimum_pressure`` is used for the minimum pressure for any node where ``node.minimum_pressure is None`` .

and

``wn.options.hydraulic.required_pressure`` is used for the required pressure for any node where ``node.required_pressure is None`` .

By default, the global minimum pressure is 0, and the g

[2021-03-05 17:13] dbhart commented on #193
If you have the following `wn = wntr.network.WaterNetworkModel()` then,

`wn.options.hydraulic.minimum_pressure` is used for the minimum pressure for any node where `node.minimum_pressure is None` .

and

`wn.options.hydraulic.required_pressure` is used for the required pressure for any node where `node.required_pressure is None` .

By default, the global minimum pressure is 0, and the global requ

[2021-03-05 17:36] #192 closed

[2021-03-05 18:51] #45 closed

[2021-03-06 17:32] mi01 opened #194 "Python 3.9 support"
Since some Linux distributions already use Python 3.9 it would be great to get support for this version. When just installing WNTR in such an environment, either with `pip install` or with `setup.py install`, the missing C++ libraries for 3.9 are problematic. I was quite confused by the following error in this case: `ModuleNotFoundError: No module named 'wntr.sim.aml._evaluator'`, before i found t

[2021-03-08 18:59] kaklise commented on #194
Thanks for opening this issue.  We'll try to update the aml to support 3.9 soon.  We'll also update the documentation to clarify how the libraries are compiled.

[2021-03-12 17:21] mi-les opened #196 "Pressure Driven Analysis with EpanetSimulator"
I am trying to run a PDD with the EpanetSimulator but from the results it seems that it keeps running a demand-driven simulation despite having set `wn.options.hydraulic.demand_model = 'PDD'`. This is my minimal example:

[code]

Both DD and PDD give me the same results:
- pressure:

| node 1| node 2|
|---------|--------|
|4.999848 | -1.000192|

- demand

| node 1| node 2|
|---------|--------|
|0.

[2021-03-12 17:49] dbhart commented on #196
hi @mi-les

If run_sim doesn't work for you with a version argument, then I am going to surmise that you don't have the most recent WNTR (version 3.x). Version <=2.3 did not have EPANET 2.2 support yet, so that could explain the issue. If you check `wntr.__version__` it should tell you which it is. If that doesn't fix it, please let me know.

[2021-03-12 19:58] kaklise commented on #196
I think the issues is that WNTR has a very low default value for required pressure.  This was carried over from EPANET where the default required pressure is 0.1 psi.  I suggest updating the required pressure before running the simulation (for example, `wn.options.hydraulic.required_pressure = 20`).  Required pressure is in meters in WNTR.

[2021-03-20 13:53] chocolate-771 opened #199 "wntr.graphics"

[2021-03-26 08:21] chocolate-771 opened #200 "Pressure Driven Analysis with WNTRSimulator"
Hello ，I am trying to run a PDD with the WNTRSimulator but from the results it seems that it keeps running a demand-driven simulation despite having set wn.options.hydraulic.demand_model = 'PDD'. This is my minimal example:

inp_file = 'js/zh1.inp'
wn = wntr.network.WaterNetworkModel(inp_file)
wn.options.hydraulic.demand_model = 'PDD'
wn.options.time.duration = 24*3600
wn.options.hydraulic.minimum

[2021-03-26 09:56] Mike7319 commented on #186
Would be much appreciated if the more accurate D-W headloss model option will be introduced in WNTRsimulator directly.

[2021-03-29 13:52] kaklise commented on #199
I believe this issue is related to #64.  PyCharm does not include plt.show()

[2021-03-29 14:00] kaklise commented on #200
I ran the example you provided with Net3 using PDD and DD and see differences in the simulation results.  If the pressures in your network are above 80 m, the results will be the same.

[2021-03-29 14:12] #193 closed

[2021-04-08 12:38] mi-les opened #203 "Accuracy of WNTR and Epanet Simulators"
Hello WNTR Team,

I am running PDD simulations on the C-Town network using WNTR. I am interested in comparing the demand from the `SimulationResults` with the demand from the `WaterNetworkModel` - in other words, evaluating the relative satisfied demand. I have noticed that I get slightly different results when I use the `WNTRSimulator` than I get when I use the `EpanetSimulator` (the WNTR simulat

[2021-04-09 20:41] kaklise commented on #203
Are these large differences that you're seeing?  You could try increasing the number of trials.  If you have a simple script that demonstrates the issue, we'd be happy to take a look.

[2021-04-14 09:00] mortvif opened #204 "Step-wise simulation"
Hi!

I am trying to run a Epanet simulation step by step using the same approach proposed in issue #59. However, step time execution increases linearlly with time in my tests, sugesting that simulation is completly recomputed in each step.

I haven't found any information on this step-wise approach in the documentation. After a quick code lookup I have found  ENnextH and ENrunH methods in the inte

[2021-04-14 14:01] kaklise commented on #204
Right now, the step-wise simulation only works with the WNTRSimulator.  We are currently working on features that will extend this to the EpanetSimulator.  This includes the ability to initialize the water network model with simulation results (such as results from a previous timestep).  We plan to push these updates to the dev branch in the next few weeks.

[2021-04-16 08:37] mi-les commented on #203
Hi Katherine,

thank you for the quick reply. The problem below on the example of Net3 illustrates the issue:

[code]

On the example of node 15 at time 0, this code will yield:
[code]

If we calculate the demand from the inp file for node 15 which is assigned the pattern 3 (using 1gpm = 0.0630901964 lps for conversion), we get:

[code]

which is closer to the `WNTRSimulator` results than to the `

[2021-04-16 09:30] mortvif commented on #204
Thanks! I'll stay tuned for the upcoming changes.

[2021-04-16 15:55] dbhart commented on #203
So, one place you can look for documentation is
https://epanet22.readthedocs.io/en/latest/back_matter.html#options

This gives the details of the different EPANET options. I'm not sure how small the accuracy can be changed, but there are three different (at lesat) options that can affect accuracy, which are changed in wntr in wn.options.hydraulic.*: accuracy, headerror and flowchange. However, I'v

[2021-04-19 10:22] pirofti commented on #194
Based on @mi01 solution, I have put together an [AUR package](https://aur.archlinux.org/packages/python-wntr/) for Arch Linux. The important bits start [here](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=python-wntr#n24).

[2021-04-19 11:05] kethansarma opened #205 "plot_network error when add_colorbar = True using directed=True with link_attribute"
- Used Code
ax = wntr.graphics.plot_network(wn, link_attribute=velocity_at_1hr, node_size=0, directed=True,
                               add_colorbar=True)
- Issue
AttributeError                            Traceback (most recent call last)
<ipython-input-228-41164f276c77> in <module>
     26                            node_size=10,link_width=3, link_range= [0,100],
     27

[2021-04-19 16:56] kaklise commented on #205
Thanks for posting this issue and workaround.  We can get that integrated into plot_network soon, but feel free to submit a PR if you'd like make the change.

[2021-04-20 10:11] kethansarma commented on #205
Thanks for the response. I am attaching plot_network code addressing the issue. Kindly go through it

`
"""
The wntr.graphics.network module includes methods plot the
water network model.
"""
import logging
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import animation

try:
    import plotly
except:
    plotly = None
try:
    import folium
except:
    f

[2021-04-23 16:42] kaklise commented on #205
Thanks. I included some minor updates and a test, I'll submit this as a PR and you can review.

[2021-04-29 18:57] kaklise commented on #205
Closed by #207.  We will be tagging a release soon, which will make this update available through pypi/conda.

[2021-04-29 18:57] #205 closed

[2021-05-13 00:26] sievold opened #208 "Can't loop EpanetSimulator after Epanet Error 302 occurs"
I am trying to perform monte carlo simulation on a data set using EpanetSimulator . I have to loop the simulation 3000 times at least. But roughly every 500-1000 iterations, I run into the Epanet Error 302. And once that happens, every subsequent iteration keeps giving the same error. I saw someone else post a similar issue in 2018 but the issue was not properly resolved because the issue could no

[2021-05-13 16:04] dbhart commented on #208
Hi @sievold,
I have not had a chance to look in detail yet, but there is a way to change the inpfile prefix (the "temp" part). This can be done by calling:
`sim.run_sim(file_prefix="iter{:s}".format(i))`
for example. Of course, then you will get lots of temporary files you may need to remove, but that at least will keep them from ever writing to the same files.

Hopefully that's a start...

[2021-05-18 22:56] kaigaon opened #210 "epanet 2.2 vs wntr PDD"
I am new to wntr and python and have been trying to read the documents related to learning wntr. I also tried some examples specifically the criticality analysis which I tried running wntr PDD and epanet 2.2 PDD. This resulted to giving me different values as shown on the graph below. The orange line represents the result of pressure at node 161 of Net3 network using wntr pdd while the blue line r

[2021-05-19 14:12] kaklise commented on #210
We recently ran across this same issue.  It seems that the EPANET simulation continues to supply water from drained tanks, which elevates pressures in the system.  An issue was posted on the OpenWaterAnalytics GitHub site (https://github.com/OpenWaterAnalytics/EPANET/issues/623) and a software update has been merged.  We'll check in with the OpenWaterAnalytics group to see when they plan to tag a

[2021-05-21 05:35] Jay1109shah commented on #120
@michaelbynum still getting the same error ModuleNotFoundError: No module named 'wntr.sim.aml._evaluator'
I installed WNTR with conda

[2021-05-23 14:14] mi-les commented on #203
Hey,

thanks for the replies! Although I have not found a way to set the accuracy for the Epanet solver so that it actually changes anything about the results and gets closer to the WNTR solver accuracy, I have managed to be able to tell whether the demand is satisfied by precisely 100% by looking at the pressure (demand is perfectly satisfied if pressure > required pressure).

Perhaps the `water_

[2021-05-30 13:21] Vencientwsq opened #211 "A issue about demand pattern change in simulation"
Hello，I am trying to use different demand patterns in a simulation, I checked the user's manual but couldn't find the answer.

for example, now my wn.options.time.duration = 12*30*24*3600(one year)  ,and i try to make demand pattern change  (per month/week/day )
now I have different daily demand pattern data, how can I add_pattern in every node and run simulation , should i :
if i in range(1,366):

[2021-05-30 13:22] Vencientwsq commented on #211
time.duration = 12 * 24 *3600 (one year)

[2021-05-31 08:48] Vencientwsq commented on #211
Maybe use the WNTRSimulator Pause and restart?
for i in range(1,366):
pat i = add_pattern (data[i])
node_demand_pattern = pat i
wn.options.time.duration = i*24*3600
sim = wntr.sim.WNTRSimulator(wn)
i days_results = sim.run_sim()

[2021-06-17 00:10] kaklise commented on #194
The latest WNTR release (0.3.1) include support Python 3.9. Let us know if you have any issues with the update.

[2021-06-17 00:10] #194 closed

[2021-06-21 01:42] kaigaon opened #214 "module 'wntr.graphics' has no attribute 'plot_valve_layer'"
Hi. Has anyone experienced getting an error "module 'wntr.graphics' has no attribute 'plot_valve_layer'"?
Am I missing something in the code?

![image](https://user-images.githubusercontent.com/84421926/122696088-d1090280-d274-11eb-81cf-ee40be12355c.png)

[2021-06-21 05:10] #214 closed

[2021-06-25 06:05] XipengYu opened #215 "wntr addcontrol"

[2021-06-29 17:08] Mottabata opened #217 "Simulation did not converge. Jacobian is singular at iteration 0"
Hi,

I was trying to run your earthquake example on my WDN and at step 8 of simulating hydraulics without repair (and assigning leak model) the simulation did not converge and jacobian was singular at iteration 0. i am running the simulation using WNTRSimulator and "PDD" analysis. Could you please help addressing this.

Note: i read your previous post about solving it by switching nominal and mini

[2021-06-29 22:27] kaklise commented on #217
I just ran the Earthquake example using the current version of WNTR and did not see that error.  This uses the WNTRSimulator with PDD.  We generally get the error you mentioned when there are sections of the network not connected to a source (tank or reservoir).  Did you change anything in the analysis that might cause that to occur?  We have an open PR with a solution to this issue, but it is cur

[2021-06-30 16:47] Mottabata commented on #217
I ran it on NET3 and had no issues but when I ran it on my network this happened. Here I attach the INP of my network if you could look at it.

From: Katherine Klise ***@***.***>
Sent: June 29, 2021 6:28 PM
To: USEPA/WNTR ***@***.***>
Cc: Moe Bata ***@***.***>; Author ***@***.***>
Subject: Re: [USEPA/WNTR] Simulation did not converge. Jacobian is singular at iteration 0 (#217)

I just ran the Eart

[2021-07-06 11:33] prasannahere commented on #186
Agreed. Looking forward to the updates.

[2021-07-07 15:12] #56 closed

[2021-07-07 15:23] kaklise commented on #189
This issue has been resolved now that WNTR supports Python 3.9

[2021-07-07 15:23] #189 closed

[2021-07-07 19:42] #200 closed

[2021-07-07 19:55] kaklise commented on #217
I am able to reproduce this error, but I don't think the Earthquake demo is the issue.  If I run the demo with the INP file provided, the epicenter is far enough away that the network is not damaged.

This issue is related to #187. The WNTRSimulator is not able to handle nodes that become isolated.  There is a patch provided in PR #206, but this requires further testing and we found that the solut

[2021-07-07 20:38] Mottabata commented on #217
I tried it with an epicenter close to the WTP at (367242, 4656005) and other close by epicenters and I still had the same issue.
[cid:7035dfdd-aa84-4038-ad81-41b56be73c6c]
________________________________
From: Katherine Klise ***@***.***>
Sent: July 7, 2021 3:55 PM
To: USEPA/WNTR ***@***.***>
Cc: Moe Bata ***@***.***>; Author ***@***.***>
Subject: Re: [USEPA/WNTR] Simulation did not converge. Jac

[2021-07-07 20:41] kaklise commented on #217
Thanks for clarifying.  Since we get the error even without added damage, I think we're still seeing the same issue as before.

[2021-07-08 18:31] #217 closed

[2021-07-08 19:26] kaklise commented on #120
The latest WNTR release (0.3.1) include support for Python 3.9.  If you are using that version of Python, this should resolve the _evaluator error.

[2021-07-08 19:29] kaklise commented on #215
Feel free to reopen this issue when you can provide more information.

[2021-07-08 19:29] #215 closed

[2021-07-08 20:21] dbhart commented on #211
@Vencientwsq - are you trying to change the demand multiplier every day? E.g.,

    one_day_pattern = [12, 12, 12, 15, 15, 15, 12, 12, 12, 8, 8, 8]  # pretending that this is a 2-hour timestep
    yearly_pattern = one_day_pattern * 366  # this is now 366 * 12 numbers long
    wn.add_pattern('yearly', yearly_pattern)
    for name, node in wn.junctions():
        node.demand_timeseries_list[0].patte

[2021-07-18 15:25] theh2oweb commented on #112
Hi ! First post on Github (be indulgent, let me know I did anything wrong).
Looks like locale setting is the source of the errors (at least for me).
Using **LC_NUMERIC=fr_FR.UTF-8**, I get "EPANET Error 200" when running the Getting Started demonstration.
Switching to **LC_NUMERIC=en_US.UTF-8**, no more errors.
To be accurate, I switched the Settings>Region & Language>Formats to United States on U

[2021-07-19 16:26] dbhart commented on #112
This is correct, and I appreciate that you commented. EPANET does not work with European numeric conventions (i.e., it does not recognize 14,200 as fourteen-point-two). It only works with US representations (i.e., 14.2). This is a limitation of EPANET’s internal processing. If this can be changed, I’m not aware of it, but you could post an issue/request/question on https://github.com/OpenWaterAnal

[2021-07-20 21:15] kaklise commented on #123
The latest update to WNTR (#218) includes basic error checking when adding components to a water network model, this includes a check to make sure the length of component names do not exceed the EPANET character limit.

[2021-07-20 21:15] #123 closed

[2021-07-20 21:16] kaklise commented on #124
The latest update to WNTR (#218) includes basic error checking when adding components to a water network model, this includes checking that names are strings

[2021-07-20 21:16] #124 closed

[2021-07-20 21:20] kaklise commented on #156
The example has been updated so that flowrate is a pandas Series (not the entire DataFrame).  We also added a test to make sure we get the correct directed graph.

[2021-07-20 21:20] #156 closed

[2021-07-20 21:56] kaklise commented on #145
I believe this issue has been resolved, perhaps because of updates to Pandas.  In the example below (based on the water network and simulation results in the getting started example) the value returned by mean is a float and there is no error.   If we run into this issue again, we could take care of numpy dtypes in the setter functions that are now used for network attributes.

[code]

[2021-07-20 21:56] #145 closed

[2021-08-12 12:23] GalPerelman opened #220 "Problem reading inp file with PRESSURE in OPTIONS section"
Some inp files output from the 2.2 version have the `PRESSURE` option under `[OPTIONS]` section
For example:
![image](https://user-images.githubusercontent.com/53649764/129195090-fc0f4129-6eb6-4ca9-9dcd-03b55dfe7e08.png)

Although these files are run successfully in EPANET GUI they cannot be opened with wntr
The problem seems to occur in wntr\epanet\io.py in line 1741
The inp file points to the pr

[2021-08-12 16:05] kaklise commented on #220
The PRESSURE entry in [OPTIONS] is not documented in EPANET 2.2.  We can update io.py to make sure we don't mistake this entry for the pressure exponent in WNTR.  Thanks!

[2021-08-23 20:00] kaklise commented on #187
Updates in #206 resolve this issue.  This includes a condition that checks for upstream and downstream sources for PRVs, PSVs, and FCVs.  We will tag these updates in a release soon.

[2021-08-23 20:00] #187 closed

[2021-09-09 13:36] apollner opened #223 "Vertices plot"
The Vertices disappear when I make a plot, how can I plot with Vertices? Thanks

[2021-09-13 14:22] kaklise commented on #223
Right now, vertices are stored as an attributes on links (pipes, pumps, valves) and can be read in and written to INP files, but they are not used for visualization in WNTR.  We’ve talked about updating graphics options in WNTR, but I’m not sure how quickly we’ll get to this.

To use vertices in functions like `plot_network`, I think we would need to create a temporary NetworkX graph from the wate

[2021-09-13 16:29] apollner commented on #223
@kaklise thanks for the response. It sounds like an interesting future to work on, just out of my scope at the moment.
For now I managed using QGISRed.

[2021-09-13 17:53] ucchejbb commented on #223
@kaklise Not the prettiest code, but something like the code below should work. I didn't implement the "zip" approach that WNTR uses, but should be easy enough to do. The key is to create a third list for "vertices" and add them to the 'pos' list, but add them with zero size. I didn't change the core WNTR code, just created a quick script to see if it works. But the vertex list should be able to b

[2021-09-14 09:08] GalPerelman opened #224 "Edit elements id"
Is it possible to change the name attribute of junctions and pipes?
For example, if I want to change junctions id that contains 'NN' to 'J'
When using the following code, the output inp file will change the junction names in the PIPES section but not in the JUNCTIONS section. (COORDINATES section is also not changed)

[code]

[code]

When trying to use ` junction.name`  instead of` junction._name`

[2021-09-16 20:25] theh2oweb opened #227 "Cybersecurity - Simulating an attack on actuators/sensors values"
Hi,

I'm working on a cybersecurity project related to water distribution systems.
The idea is to be able to configure some kind of attacks (sensor reporting forged value, actuator doing forged action, ...)
The attack results should show the impact in the hydraulic results : Tank value going empty but still reporting full.

I tried looping a step by step WNTR simulation without luck so far.
My ide

[2021-09-17 12:06] ucchejbb commented on #227
So, I don't think you should be changing the results structure (tank level (in this example)). You COULD do this by just resetting the simulation to conditions at that timepoint with a new tank level. This effectively restarts the simulation. BUT, as you point out from a cyber perspective you are really changing how the system responds to wrong data. So, the tank's level really isn't changed, the

[2021-09-17 16:48] theh2oweb commented on #227
Hi @ucchejbb !

You're right, I shouldn't be changing the results (levels/heads) of the simulation, just how the controls behave to not interfere with the real values.
I guess, I have to work on the controls then. I'll get back at it and let you know what I can reach.

Thank you for your answer.
Cheers

[2021-09-17 16:56] dbhart commented on #227
Hi @theh2oweb,

If you want to look at my fork (https://github.com/dbhart/WNTR) I have a “cyber” branch that I believe will provide the functionality you are looking for. There are two files, wntr/sim/realtime.py and wntr/tests/test_sim_realtime.py that have the classes and an example (in the test file) on how to use this. This is functionality that will go into the main WNTR release, probably nex

[2021-09-17 17:06] dbhart commented on #224
So you are correct - this is not implemented. The main reason is because there are multiple places where a name might need to be changed, thus disconnecting things and breaking the simulation. However, we can look into making it so this can happen.
That said, it is weird that the junction name doesn't pass through to the junctions section... that shouldn't be able to happen...
Let me look into thi

[2021-09-17 17:08] dbhart commented on #227
Appologies, the correct branch name in my fork is "realtime"

[2021-09-17 17:19] dbhart commented on #224
@GalPerelman I did find the issue. I will need to make a function to perform a rename for nodes and links. The registries for nodes, links, patterns and sources, all use the name of the originally created junction/link/etc. as a key index. That is what gets looped over when you call (for node in wn.node_names), for example. So even though the internal name is changed, you can't actually find that

[2021-09-17 17:45] theh2oweb commented on #227
Hi @dbhart !
I'll have a look at all your suggestions.
Thank you for your time.
Regards

[2021-09-18 06:51] GalPerelman commented on #224
@dbhart Thanks for your response and the suggested solution, it seems that this will do the work for my needs
Let me know if there is anything I can do to help

[2021-09-20 03:01] afmurillo commented on #227
Hello @dbhart thank you very much for suggesting DHALSIM! I'm excited to see the new functionality of WNTR from your branch, all the best!
Hello @theh2oweb I think DHALSIM offers the functionality that you are looking for. Any doubts or issues you have with DHALSIM, just let me know and I will be more than happy to help.

[2021-09-20 12:41] theh2oweb commented on #227
Hi @afmurillo,

Dhalsim is next on the list. Will try to play with it during this week. Thanks for your help.

@dbhart , I was able to run the test_sim_realtime but I didn't understand how to make the realtime class do what I need for the moment. But still thank you. I'll see if I don't find something easier for me.

Have a nice day guys !

[2021-09-20 18:19] dbhart commented on #227
@afmurillo just as an FYI, I was able to modify the new EPANET realtime simulator to now be able to provide quality output at a sensor output using simultaneous hydraulic/water quality execution. I'm going to add a sensor using quality to the test file (example) in my fork/branch.

[2021-09-26 15:07] theh2oweb commented on #227
Hi @afmurillo !

I've used [Dhalsim](https://github.com/afmurillo/DHALSIM) successfully and obtained the closest results to what is expected.
I'll be exploring a little bit more and maybe will send you questions to ask for some details.

Thank you everyone !

[2021-09-26 15:07] #227 closed

[2021-10-04 08:22] purplemaestro commented on #35
### dad

[2021-10-16 04:43] diabag opened #230 "Different results when pausing and restarting PDD simulation"
Hi, I have an issue when using WNTR simulator to pause the simulation at given times, changing network operations, and then restarting, when using a PDD approach. For some reason, results are different if the simulation is run through a certain period of time and if it has been paused along the way, even if no changes were done to the network while it was paused. I've written a minimal working exa

[2021-10-16 21:05] qasimAde commented on #54
I am unable to open an inp file in Spyder.

My Error message

  File "C:\Users\qaadegbi\Anaconda3\lib\site-packages\wntr\epanet\io.py", line 289, in read
    for line in f:

  File "C:\Users\qaadegbi\Anaconda3\lib\codecs.py", line 322, in decode
    (result, consumed) = self._buffer_decode(data, self.errors, final)
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 12: invalid co

[2021-10-16 21:06] qasimAde commented on #54
Please any help will be highly appreciated

[2021-10-17 15:07] qasimAde commented on #54
Thanks , I figured it out.

[2021-10-18 15:03] pooyakomeilian opened #231 "Demand input data"
Hi
I have a recorded series of demand data in part of nodes.
I wonder if it is possible to enforce these input demand time series into the simulation. These demand data may not have any particular pattern to use for input definitions.

[2021-10-19 10:07] mortvif commented on #204
Thank you for your quick response!

After analyzing the code I understand the flag that is required is the ``until`` parameter in the ``run_sim`` function. I have adapted your test scenario to run it stepwise as follows (using same setup):

[code]
However, this approach prompts what I understand is an EPANET convergence warning after the first timestep.
[code]
Execution seems to continue without r

[2021-10-25 17:10] #230 closed, assigned to nobody

[2021-11-17 09:04] BramHillebrand opened #239 "Changing the setting of a valve"
I want to run several scenario's in which I close and then reopen valves, specifically a FCValve

To achieve this I try to set the setting of the FCValve to 0 via the initial_setting since you cannot manipulate the setting directly.

However after running the simulation using EpanetSimulator the flow rate of my FCValve is still the old setting and not zero

Here is my pseudocode:
`valve = network.

[2021-11-17 13:38] BramHillebrand commented on #239
I noticed that although I cannot set `valve.setting` I am able to set `valve._setting`
When I do this `results.link['flowrate']['FCV']` does indeed give me 0 (1e-9 to be exact but that is fine) So although I do not understand why my approach above does not work. I think I have a workaround for now

[2021-11-17 15:46] dbhart commented on #239
Hi, I’m not sure what the initial setting would be changed, but I think if you only want to open or close the valve you want to use “initial_status” as “Open” or “Closed”.

[2021-11-25 04:11] handsomeboyjun opened #242 "the difference between Epanet-toolkit in matlab and WNTRSimulator in python"
When performing pipe network simulation, there is a difference between the node pressures simulated by the matlab-epanet toolbox and the python-epanet toolbox, and the node pressures simulated by the python-epanet toolbox will be a little bit higher.

[2021-11-26 13:01] handsomeboyjun commented on #242
When using wntr to set the node water demand, what is the diffference between "junction.demand_timeseries_list[0].base_value" and "junction.demand"?  And why is there a difference between the water demand value of the node in epanet and the value I set in python after exporting the pipe network file from python using "wn.write_inpfile" ?  Thanks.

[2021-11-29 14:17] GeertD opened #243 "Possible D-W friction factor error?"
Hi,

Using Darcy-Weisbach hydraulics:
It looks like the calculated pipe friction factor (and pipe headloss) in WNTR differs from Epanet 2.2 calculations and my own calculations.

The differences are getting larger with lower velocity (Reynolds) and larger pipe roughness. **Up to about 30% difference, considerable.**

Please could you check for possible error?

Settings:
Tested WNTR on Google Colab

[2021-11-29 17:30] pracapaulo opened #244 "error in "chemical concentration using a water quality simulation" example"
Hi, i have tried to run this example code:
wn.options.quality.parameter='CHEMICAL'
source_pattern = wntr.network.elements.Pattern.binary_pattern("SourcePattern",
                                                              start_time=2*3600, end_time=15*3600,
                                                              step_size=3600, duration=7*24*3600)
wn.add_pattern('SourcePattern',source_pat

[2021-11-30 16:28] hyperprogram2 opened #245 "UnicodeDecodeError when INP file name or INP path contains accented letters"
Hi,

Following error occurs with when trying to open an INP file with accented letters in the file name or the path name.
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe8 in position 6539: invalid continuation byte

For example :
fichier_epanet_inp = 'D:/z_DATA/zz_Temp/TEST/accentué.inp'
wn = wntr.network.WaterNetworkModel(fichier_epanet_inp)

Regards

[2021-11-30 17:25] dbhart commented on #245
EPANET does not support Unicode characters. I will look into why a filename would not load correctly.

[2021-11-30 19:26] kaklise commented on #243
Some of the pipe attributes are cut off in the PDF, so I'm not sure if I replicated your example correctly.  Using some assumed pipe attributes, the EpanetSimulator in WNTR and the EPANET 2.2 GUI produce the equal friction factors.  Can you recreate the PDF or post the INP file so I can recheck?

[2021-11-30 19:34] kaklise commented on #244
When I run this code using Net3, the simulation runs and the results look good.   Which version of WNTR are you using?

[2021-12-02 11:16] azharsalman commented on #245
this happens even when I try to load a file like this
inp_file = 'test.inp'
wn = wntr.network.WaterNetworkModel(inp_file)

Can you please provide a fix for this ASAP?

[2021-12-02 11:42] pracapaulo commented on #244
Hi, thanks for your answer.
You are write, the code is good. My problem was, I have wrote this code after other instructions that somehow lead to the error.
Once again thanks,
Paulo Praça

[2021-12-02 11:42] #244 closed

[2021-12-03 12:28] GeertD commented on #243
Hi,
please find the jupyter notebook attached.

I ran this in Google Colab, and that gave the results above.
Just tested it again and same results.

[Test_OnePipe.zip](https://github.com/USEPA/WNTR/files/7649543/Test_OnePipe.zip)

[2021-12-13 10:37] hyperprogram2 commented on #245
Hello,
In addition, the error also occurs when the INP file contains accented letters (in the name of junctions, links or patterns ...)

[2021-12-17 18:31] dbhart commented on #245
EPANET only supports ASCII characters. This means no accents or unicode (utf-8/utf-16) characters will work with EPANET. This is a limitation of EPANET, and you can certainly reach out to that team to see if they can update it (it is C/C++ code that uses 8-bit chars instead of 16-bit wide chars).

[2021-12-17 20:10] hyperprogram2 commented on #245
Hmmmm...

Epanet v2. 0 or v2. 2 works fine with accented characters.

The same inp file with accented works fine with epanet v2.0 or v2. 2 but not with WNTR

[2021-12-20 16:53] dbhart commented on #245
Well shoot. I was missing that 'ascii' is not the same as 'latin-1', which the EPANET toolkit uses. That is to say, EPANET uses standard C 8-bit characters but the 'ascii' encoding is actually 7-bit characters.

I have written a patch that will go up in the current PR, I apologize for that mistake.

[2021-12-20 23:43] dbhart commented on #245
@hyperprogram2 @azharsalman this should now be fixed in ``main``.

[2022-01-02 04:04] pahbloo commented on #223
Wouldn't this approach broke the `link_labels` option? Because the original edges are now gone, and we have new, smaller edges away from were the original was.

[2022-01-06 20:41] #245 closed

[2022-01-08 05:04] pahbloo commented on #223
I'm interested in working on this issue. I have some questions, though:

1. Should plot the links with vertices be optional? (Ex.: `wntr.graphics.plot_network(wn, vertices=True)`)
2. In that case, what should be the default?
3. And the name of the parameter? `vertices`? `link_vertices`?

[2022-01-08 07:19] pahbloo opened #247 "All vertices remain in the original pipe on split/break"
When I use `wntr.morph.split_pipe` or `wntr.morph.break_pipe`, I expect the new junction to be over the pipe, and the vertices of the original pipe to be distributed between it and the new one.

Instead, `split_pipe` and `break_pipe` ignore pipe vertices. As a result, the new junction is created over an imaginary straight pipe, and all vertices remain in the original pipe.

This can be seen when a

[2022-01-10 02:49] wangjian169 opened #249 "How to change valve type"

[2022-02-10 20:15] #247 closed

[2022-02-10 20:53] #231 closed, assigned to nobody

[2022-02-10 21:04] kaklise commented on #249
Valves are defined using classes that represent their valve type (for example, `PRValve`, `FCValve`).  Right now, we don't have methods that allow you to switch a valve type after it has been created.  The best option is to create a new valve and delete the old one.

[2022-02-10 22:07] #120 closed

[2022-02-11 10:52] carmine1990 opened #250 "Overflow boolean"
Hello Everybody,

using YES (like it's suggested by EPA's guide, or TRUE/True/1) on the overflow field (tank) the assert on wntr.network.model.py give an error:
code (line 1958):
_assert isinstance(overflow, (type(None), bool)), "overflow must be a Boolean"_

I had commented the line and now the script and the simulation run fine.

[2022-02-16 23:38] kaklise commented on #250
#251 resolves this issue.  Thanks!

[2022-02-16 23:38] #250 closed

[2022-02-28 00:26] lar3763 opened #252 "Issue with Resilience Metric - Modified Resilience Index"
Howdy! I am trying to calculate the Todini Index and Modified Resilience Index for a specific water network. I have looked through the API and it seems that "wntr.metrics.hydraulic.modified_resilience_index" does not exist in the package. I have downloaded the latest version, but this seems weird to me. Can anyone offer any help to resolve this issue? Thanks in advance!

[2022-02-28 12:39] ucchejbb commented on #252
https://github.com/USEPA/WNTR/blob/main/wntr/metrics/hydraulic.py
Todini - Line 182
Modified RI - Line 242

Of the main branch.

You will likely have to install this version using the instructions for setup.py.

[2022-02-28 13:55] lar3763 commented on #252
Thank you for the quick response. Would I have to uninstall the version I have at the moment or could I just download setup.py and run it in Python? Any advice would be greatly appreciated.

[2022-02-28 14:16] ucchejbb commented on #252
@lar3763 You will need to use the 'python setup.py develop' option that is in the readthedocs. You should be able to do this without uninstalling the old version, although you can uninstall it just to be safe if you'd like.

[2022-03-01 16:23] lar3763 commented on #252
I have followed the steps from readthedocs, and I am still unsuccessful in being able to calculate the Modified RI. Anything other help you could suggest? @ucchejbb

[2022-03-01 17:45] kaklise commented on #252
I'm working on a new release for WNTR that will include the modified resilience index when WNTR is downloaded from pypi and conda.  I hope to have that done in the next few days.  The instructions above should work (installing WNTR from GitHub), but your python environment could still be pointing to the old version.  After importing WNTR, you can check the version number using `wntr.__version` and

[2022-03-03 19:45] jjstickel opened #254 "Please add Python 3.10 support"
Please add Python 3.10 support. Thanks.

[2022-03-04 02:57] jjstickel commented on #254
As reported in #194, it is possible to generate the necessary library for Python 3.10 in the sources of the latest release:
1. set `use_swig` and `build` to True in setup.py
2. execute the command `python setup.py build_ext --inplace`
3. use pip to install your local copy of wntr with `pip install --user -e [path to wntr]